{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = t("confirmLocation:selectPrison.title") %}

{% set prisonSelectItems = [{ value: "", text: t("selectPrison:selectPrison.selectLabel") }] %}
{% for prisonId, prison in prisonNames %}
  {% set prisonSelectItems = (prisonSelectItems.push({
    value: prisonId,
    text: prisonId | getPrisonName(prisonNames, language)
  }), prisonSelectItems) %}
{% endfor %}

{% set backLinkHref = paths.VISITS.HOME %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{- t("confirmLocation:selectPrison.prisonerNotAtPrison", {
        prisonerFirstName: prisoner.firstName | capitalize,
        prisonName: prisoner.registeredPrisonId | getPrisonName(prisonNames, language)
      }) -}}</h1>

      <p>{{- t("confirmLocation:selectPrison.newLocationText")-}}</p>

      <form action="{{ paths.CONFIRM_LOCATION }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <h2 class="govuk-heading-m">{{ t("confirmLocation:selectPrison.selectLocation") }}</h2>

        {{ govukSelect({
          name: "prisonId",
          formGroup: { classes: "govuk-!-width-two-thirds" },
          label: {
            text: t("selectPrison:selectPrison.selectLabel"),
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: t("selectPrison:selectPrison.selectHint")
          },
          items: prisonSelectItems,
          errorMessage: errors | findError('prisonId')
        }) }}

        <h2 class="govuk-heading-m">{{ t("selectPrison:selectPrison.unknownLocationHeading") }}</h2>
        <p>
          {{- t("confirmLocation:selectPrison.findPrisonerLink") | renderLinkTag("https://www.gov.uk/find-prisoner") | safe -}}
        </p>

        {{ govukButton({
          text: t("common:buttons.continue"),
          attributes: { "data-test": "continue-button" },
          preventDoubleClick: true
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
