{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set activeLink = 'visitors-link' %}
{% set pageTitle = t("visitors:visitors.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="govuk-heading-m" data-test="prisoner-visitors">
        {{- t("visitors:visitors.visitorsOf", {
          name: prisoner | prisonerNameFirstLast
        }) | safe -}}
      </h2>

      {% if visitorsTableRows | length %}
        <h3 class="govuk-heading-s govuk-!-margin-top-5">
          {{- t("visitors:visitors.linkedVisitorsHeading") -}}
        </h3>

        {{ govukTable({
          head: [
            {
              text: t("common:labels.name")
            },
            {
              text: t("common:labels.dateOfBirth")
            },
            {
              text: t("visitors:visitors.bookVisitForThem")
            }
          ],
          rows: visitorsTableRows
        }) }}
      {% else %}
        {{ govukWarningText({
          text: t("common:visitors.noVisitorsLinked"),
          iconFallbackText: t("common:labels.warning"),
          attributes: { "data-test": "no-visitors" }
        }) }}
      {% endif %}

      {% if visitorRequestsTableRows | length %}
        <h2 class="govuk-heading-m" data-test="visitor-requests">
          {{- t("common:visitors.visitorRequestsHeading") -}}
        </h2>

        <p>{{ t("common:visitors.reviewedByPrison") }}</p>

        {{ govukTable({
          classes: "govuk-!-width-two-thirds",
          head: [
            {
              text: t("common:labels.name")
            },
            {
              text: t("common:labels.dateOfBirth")
            }
          ],
          rows: visitorRequestsTableRows
        }) }}
      {% endif %}

      <h2 class="govuk-heading-m">{{ t("common:visitors.linkingNewVisitorsHeading") }}</h2>

      <p>{{ t("common:visitors.linkedVisitorsOnly") }}</p>
      <p>{{ t("common:visitors.mustBeOnVisitorList") }}</p>
      <p>{{ t("common:visitors.requestResponseTime") }}</p>

      {{ govukButton({
        text: t("common:buttons.linkNewVisitor"),
        href: paths.ADD_VISITOR.START,
        attributes: { "data-test": "link-a-visitor" },
        preventDoubleClick: true
      }) }} 


    </div>
  </div>
{% endblock %}
