{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set activeLink = 'visitors-link' %}
{% set pageTitle = "Visitors" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="govuk-heading-m">
        <span data-test="prisoner-name">{{ prisoner | prisonerNameFirstLast }}</span>’s visitors
      </h2>

      {% if visitorsTableRows | length %}
        <h3 class="govuk-heading-s govuk-!-margin-top-5">Visitors linked to your account</h3>

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Name"
            },
            {
              text: "Date of birth"
            },
            {
              text: "Can you book a visit for them?"
            }
          ],
          rows: visitorsTableRows
        }) }}
      {% else %}
        {{ govukWarningText({
          text: "No visitors are currently approved.",
          iconFallbackText: "Warning",
          attributes: { "data-test": "no-visitors" }
        }) }}
      {% endif %}

      {% if features.addVisitor %}

        {% if visitorRequests | length %}
          <h2 class="govuk-heading-m">Visitors awaiting review</h2>


          {% set requests = [] %}

          {% for visitor in visitorRequests %}
            {% set requests = (requests.push(
              {
                text: visitor.firstName + ' ' + visitor.lastName,
                attributes: { "data-test": "visitor-name-" + loop.index }
              },
              {
                text: visitor.dateOfBirth | formatDate,
                attributes: { "data-test": "visitor-dob-" + loop.index }
              }
            ), requests) %}
          {% endfor %}

          {{ govukTable({
            caption: "Dates and amounts",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
              {
                text: "Name"
              },
              {
                text: "Date of birth"
              }
            ],
            rows: requests
          }) }}

        {% endif %}

        <h2 class="govuk-heading-m">Linking new visitors to your account</h2>

        <p>You can only book visits for people linked to your account.</p>
        <p>Visitors must be on the prisoner’s visitor list.</p>
        <p>We will respond to your request within 5 working days.</p>

        {{ govukButton({
          text: "Link a new visitor",
          href: paths.ADD_VISITOR.START,
          attributes: { "data-test": "link-a-visitor" },
          preventDoubleClick: true
        }) }} 
      {% else %}
        <h2 class="govuk-heading-m">Waiting for approval</h2>
        <p>If you have already submitted a request to add visitors, we will contact you when your request has been approved or rejected.</p>
        <p>We will respond within 5 working days.</p>

        <h2 class="govuk-heading-m">Add a new visitor</h2>
        <p>The person you want to book for must be on the prisoner’s visitor list.</p>
        <p>
          To make a request,
          <a data-test="add-visitor-form" href="https://visit-someone-in-prison-add-visitor.form.service.justice.gov.uk/">complete the form</a>.
          We will respond within 5 working days.
        </p>
      {% endif %}

    </div>
  </div>
{% endblock %}
