{% extends "../../partials/layout.njk" %}

{% set activeLink = 'bookings-link' %}
{% set pageTitle = "Cancelled visits" %}

{% set backLinkHref = paths.BOOKINGS.HOME %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>Only bookings made using GOV.UK One Login are shown.</p>

      {% if visits | length %}
        {% for visit in visits %}
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1" data-test="visit-date-{{ loop.index }}">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</h2>
          <p class="govuk-!-margin-bottom-1">
            <span data-test="visit-start-time-{{ loop.index }}">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
            to
            <span data-test="visit-end-time-{{ loop.index }}">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
          </p>
          <p>
            <a href="{{ paths.BOOKINGS.VISIT_CANCELLED }}/{{ visit.visitDisplayId }}" class="govuk-link--no-visited-state" data-test="visit-link-booking-{{ loop.index }}">
              View details
              <span class="govuk-visually-hidden">
                of your booking for {{ visit.startTimestamp | formatTimeFromDateTime }} on {{ visit.startTimestamp | formatDate('d MMMM') }}
              </span>
            </a>
          </p>
        {% endfor %}

      {% else %}
        <p data-test="no-visits">You do not have any cancelled bookings.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
