{% set activeLink = 'bookings-link' %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Bookings" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>Only bookings made using GOV.UK One Login are shown.</p>

      <h2 class="govuk-heading-m">Future visits</h2>

      {% if visits | length %}
        <form action="{{ paths.BOOKINGS.HOME }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% for visit in visits %}
          <div class="bookings-content-block">
            <h3 class="govuk-heading-s" data-test="visit-date-{{ loop.index }}">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</h3>
            <p>
              <span data-test="visit-start-time-{{ loop.index }}">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
              to
              <span data-test="visit-end-time-{{ loop.index }}">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
            </p>
            <p>Booking reference: <span data-test="visit-reference-{{ loop.index }}">{{ visit.reference }}</span></p>  
            <p>
              <a href="{{ paths.BOOKINGS.VISIT }}/{{ loop.index }}" class="govuk-link--no-visited-state" data-test="visit-link-{{ loop.index }}">View booking details</a>
            </p>
          </div>
          
        {% endfor %}

      <h2 class="govuk-heading-m">How to change your booking</h2>
      <p>
        To update or cancel your booking, call
        <span data-test="prison-name">{{ prisonName }}</span>
        on <span data-test="prison-phone-number">{{ prisonPhoneNumber }}</span>
        between 9am and 5pm, Monday to Friday.
      </p>
      <p>You will need the booking reference to make changes.</p>

      {% else %}
        <p data-test="no-visits">You do not have any future bookings.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Past and cancelled visits</h2>
      <p>
        <a href="#" class="govuk-link--no-visited-state">View past visits</a>
      </p>
      <p>
        <a href="#" class="govuk-link--no-visited-state">View cancelled visits</a>
      </p>
      
    </div>
  </div>

{% endblock %}
