{% set activeLink = 'bookings-link' %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Past visits" %}

{% set backLinkHref = paths.BOOKINGS.HOME %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>Only bookings made using GOV.UK One Login are shown.</p>

      <h2 class="govuk-heading-m">{{ pageTitle }}</h2>

      {% if visits | length %}
        {% for visit in visits %}
          <div class="bookings-content-block">
            <h3 class="govuk-heading-s" data-test="visit-date-{{ loop.index }}">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</h3>
            <p>
              <span data-test="visit-start-time-{{ loop.index }}">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
              to
              <span data-test="visit-end-time-{{ loop.index }}">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
            </p>
            <p>
              <a href="{{ paths.BOOKINGS.VISIT }}/{{ loop.index }}" class="govuk-link--no-visited-state" data-test="visit-link-{{ loop.index }}">View booking details</a>
            </p>
          </div>
          
        {% endfor %}

      {% else %}
        <p data-test="no-visits">You do not have any past bookings.</p>
      {% endif %}
      
    </div>
  </div>

{% endblock %}
