{% set activeLink = 'bookings-link' %}
{% extends "../../partials/layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%-from "moj/components/banner/macro.njk" import mojBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Visit booking details" %}

{% set backLinkHref = paths.BOOKINGS.PAST if type === 'past' else (paths.BOOKINGS.CANCELLED if type === 'cancelled' else paths.BOOKINGS.HOME) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>Booking reference: <span data-test="booking-reference">{{ visit.reference }}</span></p>

      {% if visit.visitStatus === "CANCELLED" %}

        {% set status = visit.outcomeStatus %}

        {% set cancelledBy %}
          {%- if status === 'VISITOR_CANCELLED' %}
            {{- 'This visit was cancelled by a visitor.' }}
          {%- elif status === 'PRISONER_CANCELLED' %}
            {{- 'This visit was cancelled by the prisoner.' }}
          {%- else %}
            {{- 'This visit was cancelled by the prison.' }}
          {%- endif %}
        {%- endset %}

        {% set cancelledVisitBannerHtml %}
          {{ govukWarningText({
            classes: "govuk-!-margin-bottom-0 govuk-!-padding-left-4",
            html: '<span data-test="visit-cancelled-type">' + cancelledBy + '</span>',
            iconFallbackText: "Warning"
          }) }}
        {% endset %}

        {{ mojBanner({
          classes: "govuk-!-padding-left-4",
          html: cancelledVisitBannerHtml
        }) }}

      {% endif %}

      <h2 class="govuk-heading-m">Date and time</h2>

      <p class="govuk-!-margin-bottom-1" data-test="visit-date">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</p>
      <p>
        <span data-test="visit-start-time">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
        to
        <span data-test="visit-end-time">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
      </p>

      <h2 class="govuk-heading-m">Prisoner</h2>

      <p data-test="prisoner-name">{{ prisoner.firstName | capitalize }} {{ prisoner.lastName | capitalize }}</p>

      <h2 class="govuk-heading-m">Visitors</h2>

      {% for visitor in visit.visitors %}
        <p class="{{ "govuk-!-margin-bottom-1" if not loop.last }}" data-test="visitor-name-{{ loop.index }}">
          {{ visitor.firstName }} {{ visitor.lastName }}
        </p>
      {% endfor %}

      <h2 class="govuk-heading-m">Additional support requests</h2>

      <p data-test="additional-support">{{ visit.visitorSupport.description | d("None", true) }}</p>
      
      <h2 class="govuk-heading-m">Main contact</h2>
      <p class="govuk-!-margin-bottom-1" data-test="main-contact-name">{{ visit.visitContact.name }}</p>
      <p data-test="main-contact-number">{{ visit.visitContact.telephone | d("No phone number provided", true) }}</p>

      {% if showCancel %}
        {{ govukButton({
          text: "Cancel booking",
          classes: "govuk-!-margin-top-3 govuk-!-margin-bottom-7 govuk-button--secondary",
          href: paths.BOOKINGS.CANCEL_VISIT + '/' + visit.visitDisplayId,
          attributes: { "data-test": "cancel-visit" },
          preventDoubleClick: true
        }) }}
      {% endif %}

      {% if type === 'future' %}
        {% include "partials/howToChangeBooking.njk" %}

        <h2 class="govuk-heading-m">Prepare for visiting {{ prison.prisonName }}</h2>

        <p>
          All visitors over 16 years old must show <a href="https://www.gov.uk/government/publications/management-of-security-at-visits-policy-framework-open-estate/acceptable-forms-of-identification-id-when-visiting-a-prison-in-england-and-wales-annex-a" target="_blank">acceptable forms of ID to enter the prison</a>.
        </p> 

        <p>Visitors should arrive <span data-test="minutes-before-visit">45</span> minutes before the visit starts.</p>

        <p>
          You can read more about
          <a href="{{ prison.webAddress }}" data-test="prison-website" target="_blank">visits at {{ prison.prisonName }}</a>.
          This includes information on getting to the prison and visiting facilities.
        </p>

        <h3 class="govuk-heading-s">What to expect when visiting a prison</h3>

        <p>Visitors will be searched before entering the prison visiting room.</p>

        <p>
          Prison staff may check visitors’ pockets, pat them down and ask them to go through a metal detector.
          Dogs may also be used to detect illegal substances.
        </p>

        <h2 class="govuk-heading-m">Help with the cost of prison visits</h2>

        <p>You may be able to <a href="https://www.gov.uk/help-with-prison-visits" target="_blank">get help with the cost of prison visits</a> if you’re getting certain benefits or have a health certificate.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
