{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p>{{ t("common:cookieBanner.essential") }}</p>
<p>{{ t("common:cookieBanner.analytics") }}</p>
{% endset %}

{% set acceptHtml %}
  <p class="no-visited-state">
    {{- t("common:cookieBanner.acceptedAnalytics") }}
    {{ t("common:cookieBanner.changeSettings", { url: paths.COOKIES }) | safe }}
  </p>
{% endset %}

{% set rejectHtml %}
  <p class="no-visited-state">
    {{- t("common:cookieBanner.rejectedAnalytics") }}
    {{ t("common:cookieBanner.changeSettings", { url: paths.COOKIES }) | safe }}
  </p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: t("common:cookieBanner.cookiesOn"),
  attributes: {
    id: "cookie-banner"
  },
  hidden: true,
  messages: [
    {
      headingText: t("common:cookieBanner.cookiesOn"),
      attributes: {
        id: "cookie-banner-main"
      },
      html: html,
      actions: [
        {
          text: t("common:cookieBanner.acceptButton"),
          type: "button",
          value: "yes",
          attributes: {
            "data-test": "accept-analytics"
          }
        },
        {
          text: t("common:cookieBanner.rejectButton"),
          type: "button",
          value: "no",
          attributes: {
            "data-test": "reject-analytics"
          }
        },
        {
          text: t("common:cookieBanner.viewButton"),
          classes:"govuk-link--no-visited-state",
          href: paths.COOKIES
        }
      ]
    },
    {
      html: acceptHtml,
      attributes: {
        id: "cookie-banner-accepted"
      },
      hidden: true,
      actions: [
        {
          text: t("common:cookieBanner.hideCookieMessage"),
          type: "button",
          attributes: {
            "data-test": "hide-cookies-accepted"
          }
        }
      ]
    },
    {
      html: rejectHtml,
      attributes: {
        id: "cookie-banner-rejected"
      },
      hidden: true,
      actions: [
        {
          text: t("common:cookieBanner.hideCookieMessage"),
          type: "button",
          attributes: {
            "data-test": "hide-cookies-rejected"
          }
        }
      ]
    }
  ]
}) }}
