{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if errors | length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors | errorSummaryList
  }) }}
{% endif %}
