<h2 class="govuk-heading-m" data-test="change-visit-heading">
  {{- t("shared:howToChangeVisit.title") -}}
</h2>

{% set visitReference = bookVisitConfirmed.visitReference if bookVisitConfirmed.visitReference else visit.reference %}

<p data-test="contact-prison">
    {%- if prison.phoneNumber %}
      {{- t("shared:howToChangeVisit.contactPrisonPhone", {
        prisonName: prison.prisonName,
        phoneNumber: prison.phoneNumber
      }) -}}
    {% else %}
      {{- t("shared:howToChangeVisit.contactPrisonWebsite", {
        prisonName: prison.prisonName,
        url: prison.webAddress
      }) | safe -}}
    {% endif -%}
  </p>

<p data-test="change-visit">
  {{- t("shared:howToChangeVisit.visitReference", { visitReference: visitReference }) -}}
</p>

{% if bookVisitConfirmed %}
  <p class="no-visited-state" data-test="cancel-visit-content">
    {{- t("shared:howToChangeVisit.cancelVisit", { url: paths.VISITS.HOME }) | safe -}}
  </p>
{% endif %}
