<h2 class="govuk-heading-m" data-test="change-booking-heading">How to change your booking</h2>

{% if prison.phoneNumber %}
  <p>
    To update or cancel your booking, call
    <span data-test="prison-name">{{ prison.prisonName }}</span>
    on <span data-test="prison-phone-number">{{ prison.phoneNumber }}</span>
    between 9am and 5pm, Monday to Friday.
  </p>
{% else %}
  <p data-test="no-prison-phone-number">
    To update or cancel your booking,
    <a href="{{ prison.webAddress }}" target="_blank">contact {{ prison.prisonName }} directly</a>.
  </p>
{% endif %}

<p>You will need the booking reference to make changes. Your booking reference is <span data-test="booking-reference-changes">{{ bookingConfirmed.visitReference }}</span>.</p>

<p data-test="cancel-visit-content">Or you can cancel your booking from <a class="govuk-link--no-visited-state" href="{{ paths.BOOKINGS.HOME }}">the bookings page</a>.</p>
