<h2 class="govuk-heading-m" data-test="change-booking-heading">How to update your request</h2>

{% if prison.phoneNumber %}
  <p>
    To update your request, call
    <span data-test="prison-name">{{ prison.prisonName }}</span>
    on <span data-test="prison-phone-number">{{ prison.phoneNumber }}</span>
    between 9am and 5pm, Monday to Friday.
  </p>
{% else %}
  <p data-test="no-prison-phone-number">
    To update your request,
    <a href="{{ prison.webAddress }}">contact {{ prison.prisonName }} directly</a>.
  </p>
{% endif %}

<p>
  You will need the visit reference to make changes.
  Your request reference is <span data-test="booking-reference-changes">{{ visit.reference }}</span>.
</p>
