<h2 class="govuk-heading-m" data-test="change-request-heading">
  {{- t("shared:howToUpdateRequest.title") -}}
</h2>

<p data-test="contact-prison">
  {%- if prison.phoneNumber %}
    {{- t("shared:howToUpdateRequest.contactPrisonPhone", {
      prisonName: prison.prisonName,
      phoneNumber: prison.phoneNumber
    }) -}}
  {% else %}
    {{- t("shared:howToUpdateRequest.contactPrisonWebsite", {
      prisonName: prison.prisonName,
      url: prison.webAddress
    }) | safe -}}
  {% endif -%}
</p>

<p data-test="change-request">
   {{- t("shared:howToUpdateRequest.visitReference", { visitReference: visit.reference }) -}}
</p>
