{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "components/one_login_header/service-header.njk" import govukOneLoginServiceHeader %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set navigationItems = [
  {
    href: paths.HOME,
    text: "Home",
    id: "home-link"
  },
  {
    href: paths.BOOKINGS.HOME,
    text: "Bookings",
    id: "bookings-link"
  },
  {
    href: paths.VISITORS,
    text: "Visitors",
    id: "visitors-link"
  }
  ] if showOLServiceNav
%}
{% set activeLinkId = activeLink if activeLink else "home-link" %}
{% set serviceName = applicationName %}
{% set signOutLink = paths.SIGN_OUT %}

{% set bodyAttributes = {
  "data-google-analytics-id": googleAnalyticsId
} %}

{% block head %}
  {% if analyticsEnabled %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}" data-test="google-analytics"></script>
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ googleAnalyticsId }}');
    </script>
  {% endif %}

  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errors | length }}{{ pageTitle + " - " if pageTitle }}{{ applicationName }} - GOV.UK
{%- endblock %}

{% block bodyStart %}
  {% if analyticsEnabled == undefined %}
    {%- include "partials/cookieBanner.njk" -%}
  {% endif %}
{% endblock %}

{% block header %}
{# If user authenticated then use GOVUK One Login Header; otherwise default header #}
{% if user and user.sub %}
  {{ govukOneLoginServiceHeader({ 
    navigationItems: navigationItems,
    serviceName: serviceName,
    activeLinkId: activeLinkId,
    signOutLink: signOutLink,
    oneLoginLink: oneLoginLink
  }) }}
{% else %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    containerClasses: "govuk-width-container",
    classes: "govuk-header--full-width-border" if not hideGOVUKServiceNav
  }) }}
  {% if not hideGOVUKServiceNav %}
    {{ govukServiceNavigation({
      serviceName: applicationName,
      serviceUrl: paths.START
    }) }}
  {% endif %}
{% endif %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    attributes: {
      role: "complementary"
    },
    html: 'This is a new service – your <a href="https://visit-someone-in-prison-test-feedback.form.service.justice.gov.uk/" target="_blank">feedback (opens in new tab)</a> will help us to improve it.'
  }) }}

  <div role="navigation">
    {% if backLinkHref %}
      {{ govukBackLink({
        text: "Back",
        href: backLinkHref,
        attributes: { "data-test": "back-link" }
      }) }}
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: paths.ACCESSIBILITY,
          text: "Accessibility"
        },
        {
          href: paths.COOKIES,
          text: "Cookies"
        },
        {
          href: paths.PRIVACY,
          text: "Privacy"
        },
        {
          href: paths.TERMS,
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/service-header.js"></script>
  <script src="/assets/init-service-header.js"></script>
  <script src="/assets/cookieBanner.js"></script>
{% block pageScripts %}
{% endblock %}
{% endblock %}
