{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../components/one_login_header/service-header.njk" import govukOneLoginServiceHeader %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set navigationItems = [
  {
    href: "/",
    text: 'Home',
    id: 'home-link'
  },
  {
    href: '/bookings',
    text: 'Bookings',
    id: 'bookings-link'
  }
  ] if showServiceNav
%}
{% set activeLinkId -%}
  {{- activeLink if activeLink else 'home-link' -}}
{%- endset %}
{% set serviceName = applicationName %}
{% set signOutLink = "/sign-out" %}

{% block head %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script>
  <script nonce="{{ cspNonce }}">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ googleAnalyticsId }}');
  </script>

  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errors | length }}{{ pageTitle + " - " if pageTitle }}{{ applicationName }} - GOV.UK
{%- endblock %}

{% block header %}
{# If user authenticated then use GOVUK One Login Header; otherwise default header #}
{% if user and user.sub %}
  {{ govukOneLoginServiceHeader({ 
    navigationItems: navigationItems,
    serviceName: serviceName,
    activeLinkId: activeLinkId,
    signOutLink: signOutLink,
    oneLoginLink: oneLoginLink
  }) }}
{% else %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: applicationName,
    serviceUrl: "/"
  }) }}
{% endif %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    attributes: {
      role: "complementary"
    },
    html: 'This is a new service – your <a href="https://visit-someone-in-prison-test-feedback.form.service.justice.gov.uk/" target="_blank">feedback</a> will help us to improve it.'
  }) }}

  <div role="navigation">
    {% if backLinkHref %}
      {{ govukBackLink({
        text: "Back",
        href: backLinkHref,
        attributes: { "data-test": "back-link" }
      }) }}
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: paths.ACCESSIBILITY,
          text: "Accessibility"
        },
        {
          href: paths.COOKIES,
          text: "Cookies"
        },
        {
          href: paths.PRIVACY,
          text: "Privacy"
        },
        {
          href: paths.TERMS,
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/service-header.js"></script>
  <script src="/assets/init-service-header.js"></script>
{% block pageScripts %}
{% endblock %}
{% endblock %}
