{%-from "moj/components/banner/macro.njk" import mojBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set bannerHtml %}
  {{ govukWarningText({
    classes: "govuk-!-margin-bottom-0 govuk-!-padding-left-1",
    html:
      '<span data-test="prisoner-transferred-or-released">' +
        '<span data-test="prisoner-name">' + prisoner.firstName | capitalize + ' ' + prisoner.lastName | capitalize + "</span>" +
        " is no longer at " +
        '<span data-test="registered-prison-name">' + prisoner.registeredPrisonName + "</span>." +
      "</span>",
    iconFallbackText: "Warning"
  }) }}
{% endset %}

{{ mojBanner({
  classes: "govuk-!-padding-left-4",
  html: bannerHtml | safe
}) }}
