{% extends "partials/layout.njk" %}

{% set pageTitle = t("staticPages:accessibility.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>{{ t("staticPages:accessibility.applies") }}</p>

      <p>{{ t("staticPages:accessibility.runBy") }}</p>

      <p>{{ t("staticPages:accessibility.wantManyPeople") }}</p>
      
      <p>
        {{- t("staticPages:accessibility.abilityNet", {
          url: "https://mcmw.abilitynet.org.uk/"
        }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:accessibility.complianceHeading") }}</h2>

      <p>{{- t("staticPages:accessibility.wcagCompliance", {
          url: "https://www.w3.org/TR/WCAG22/"
        }) | safe -}}</p>

      <p>{{- t("staticPages:accessibility.testedBy", {
          url: "https://uservision.co.uk/"
        }) | safe -}}</p>

      <p>{{ t("staticPages:accessibility.testedUsing") }}</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>{{ t("staticPages:accessibility.assistiveTech.nvda") }}</li>
          <li>{{ t("staticPages:accessibility.assistiveTech.jaws") }}</li>
          <li>{{ t("staticPages:accessibility.assistiveTech.talkBack") }}</li>
          <li>{{ t("staticPages:accessibility.assistiveTech.voiceOver") }}</li>
          <li>{{ t("staticPages:accessibility.assistiveTech.dragon") }}</li>
      </ul>

      <p>{{ t("staticPages:accessibility.issuesFix") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:accessibility.feedbackHeading") }}</h2>

      <p>
        {{- t("staticPages:accessibility.sendFeedback", {
          url: "https://submit.forms.service.gov.uk/form/263703/visit-someone-in-prison/"
        }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:accessibility.enforcementHeading") }}</h2>

      <p>
        {{- t("staticPages:accessibility.enforcement", {
          url: "https://www.equalityadvisoryservice.com/"
        }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:accessibility.technicalHeading") }}</h2>

      <p>{{ t("staticPages:accessibility.technical") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:accessibility.preparationHeading") }}</h2>

      <p>{{ t("staticPages:accessibility.preparation") }}</p>

    </div>
  </div>
{% endblock %}
