{% extends "partials/layout.njk" %}

{% set pageTitle = t("staticPages:privacy.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>
        {{- t("staticPages:privacy.intro", {
          url: "https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
        }) | safe -}}
      </p>

      <p>{{ t("staticPages:privacy.dataController") }}</p>

      <p>
        {{- t("staticPages:privacy.dataControllerDetails", {
          url: "https://ico.org.uk/ESDWebPages/Entry/Z7414053"
        }) | safe -}}
      </p>

      <p>
        {{- t("staticPages:privacy.oneLogin", {
          url: "https://signin.account.gov.uk/privacy-notice"
        }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.whatDataHeading") }}</h2>

      <p>{{ t("staticPages:privacy.whatDataIntro") }}</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>{{ t("staticPages:privacy.dataItems.emailPhone") }}</li>
          <li>{{ t("staticPages:privacy.dataItems.prisonerDetails") }}</li>
          <li>{{ t("staticPages:privacy.dataItems.visitorDetails") }}</li>
      </ul>

      <p>{{ t("staticPages:privacy.feedbackDataIntro") }}</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>{{ t("staticPages:privacy.feedbackItems.contactDetails") }}</li>
          <li>{{ t("staticPages:privacy.feedbackItems.personalInfo") }}</li>
      </ul>

      <p>
        {{- t("staticPages:privacy.analyticsData", { url: paths.COOKIES }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.whyNeedHeading") }}</h2>

      <p>{{ t("staticPages:privacy.whyNeedIntro") }}</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>{{ t("staticPages:privacy.whyItems.bookVisits") }}</li>
          <li>{{ t("staticPages:privacy.whyItems.informChanges") }}</li>
          <li>{{ t("staticPages:privacy.whyItems.textMessages") }}</li>
          <li>{{ t("staticPages:privacy.whyItems.feedback") }}</li>
          <li>{{ t("staticPages:privacy.whyItems.respondFeedback") }}</li>
          <li>{{ t("staticPages:privacy.whyItems.securityThreats") }}</li>
          <li>{{ t("staticPages:privacy.whyItems.performance") }}</li>
      </ul>

      <p>{{ t("staticPages:privacy.doThisToHelp") }}</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>{{ t("staticPages:privacy.helpItems.meetNeeds") }}</li>
          <li>{{ t("staticPages:privacy.helpItems.improvements") }}</li>
          <li>{{ t("staticPages:privacy.helpItems.performanceImprovements") }}</li>
      </ul>

      <p>{{ t("staticPages:privacy.futureResearch") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.legalBasisHeading") }}</h2>

      <p>{{ t("staticPages:privacy.legalBasis") }}</p>

      <p>{{ t("staticPages:privacy.analyticsLegalBasis") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.sharedWithHeading") }}</h2>

      <p>{{ t("staticPages:privacy.sharedWithIntro") }}</p>

      <p>{{ t("staticPages:privacy.sharedWithOrgs") }}</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>
            {{ t("staticPages:privacy.notifyOrg", {
              url: "https://www.notifications.service.gov.uk/"
            }) | safe }}
            {{ t("staticPages:privacy.notifyPrivacy", {
              url: "https://www.notifications.service.gov.uk/privacy"
            }) | safe }}
          </li>
          <li>
            {{ t("staticPages:privacy.formsOrg", {
              url: "https://www.forms.service.gov.uk/"
            }) | safe }}
             {{ t("staticPages:privacy.formsPrivacy", {
              url: "https://www.forms.service.gov.uk/privacy"
            }) | safe }}
          </li>
      </ul>

      <p>{{ t("staticPages:privacy.analyticsTransfer") }}</p>

      <p>{{ t("staticPages:privacy.agentsReps") }}</p>

      <p>{{ t("staticPages:privacy.willNot") }}</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>{{ t("staticPages:privacy.willNotItems.sellData") }}</li>
          <li>{{ t("staticPages:privacy.willNotItems.shareMarketing") }}</li>
      </ul>

      <p>{{ t("staticPages:privacy.lawRequired") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.howLongHeading") }}</h2>

      <p>
        {{- t("staticPages:privacy.howLong", {
          url: "https://www.gov.uk/government/publications/records-information-management-policy-psi-042018-pi-022018"
        }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.whereProcessedHeading") }}</h2>

      <p>{{ t("staticPages:privacy.whereProcessed") }}</p>

      <p>
        {{- t("staticPages:privacy.whereProcessedPersonal", {
          url: "https://www.gov.uk/eu-eea"
        }) | safe -}}
      </p>

      <p>
        {{- t("staticPages:privacy.usDataBridge", {
          url: "https://www.gov.uk/government/publications/uk-us-data-bridge-supporting-documents/uk-us-data-bridge-explainer"
        }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.howProtectHeading") }}</h2>

      <p>{{ t("staticPages:privacy.howProtect1") }}</p>

      <p>{{ t("staticPages:privacy.howProtect2") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.yourRightsHeading") }}</h2>

      <p>
        {{- t("staticPages:privacy.yourRights", {
          url: "https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
        }) | safe -}}
      </p>
      
      <p>{{ t("staticPages:privacy.contactDPT") }}</p>

      <h3 class="govuk-heading-s">{{ t("staticPages:privacy.emailHeading") }}</h3>

      <p><a href="mailto:DPO@justice.gov.uk">DPO@justice.gov.uk</a></p>

      <h3 class="govuk-heading-s">{{ t("staticPages:privacy.postHeading") }}</h3>

      <p>
          Data Protection Team<br>
          Ministry of Justice<br>
          5th Floor, Post Point 5.18<br>
          102 Petty France<br>
          London<br>
          SW1H 9AJ
      </p>

      <h3 class="govuk-heading-s">{{ t("staticPages:privacy.accessHeading") }}</h3>

      <p>
        {{- t("staticPages:privacy.access", {
          url: "https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
        }) | safe -}}
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.complaintHeading") }}</h2>

      <p>{{ t("staticPages:privacy.complaint") }}</p>

      <h3 class="govuk-heading-s">{{ t("staticPages:privacy.icoEmailHeading") }}</h3>

      <p><a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a></p>
      
      <h3 class="govuk-heading-s">{{ t("staticPages:privacy.icoPhoneHeading") }}</h3>
      <p>0303 123 1113</p>
      
      <h3 class="govuk-heading-s">{{ t("staticPages:privacy.icoTextphoneHeading") }}</h3>
      <p>
        01625 545860<br>
        {{ t("staticPages:privacy.icoTextphoneHours") }}<br>
        <a href="https://www.gov.uk/call-charges">{{ t("staticPages:privacy.callChargesLink") }}</a>
      </p>

      <h3 class="govuk-heading-s">{{ t("staticPages:privacy.icoPostHeading") }}</h3>

      <p>
          Information Commissioner‘s Office<br>
          Wycliffe House<br>
          Water Lane<br>
          Wilmslow<br>
          Cheshire<br>
          SK9 5AF
      </p>

      <h2 class="govuk-heading-m">{{ t("staticPages:privacy.changesHeading") }}</h2>

      <p>{{ t("staticPages:privacy.changes1") }}</p>
      
      <p>{{ t("staticPages:privacy.changes2") }}</p>

      <p>{{ t("staticPages:privacy.lastUpdated") }}</p>
      
    </div>
  </div>
{% endblock %}
