{% extends "partials/layout.njk" %}

{% set pageTitle = t("staticPages:signedOut.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="no-visited-state" data-test="sign-in">
        {{- t("staticPages:signedOut.signInAgain", { url: paths.SIGN_IN }) | safe -}}
      </p>

    </div>
  </div>
{% endblock %}
