{% extends "partials/layout.njk" %}

{% set pageTitle = t("staticPages:terms.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>{{ t("staticPages:terms.intro") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:terms.purposeHeading") }}</h2>

      <p>{{ t("staticPages:terms.purpose") }}</p>

      <p>{{ t("staticPages:terms.updates") }}</p>

      <p>{{ t("staticPages:terms.noAgreement") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:terms.lawHeading") }}</h2>

      <p>{{ t("staticPages:terms.law") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:terms.responsiblyHeading") }}</h2>

      <p>{{ t("staticPages:terms.sharedComputer") }}</p>

      <p>{{ t("staticPages:terms.precautions") }}</p>

      <p>{{ t("staticPages:terms.misuse") }}</p>

      <h2 class="govuk-heading-m">{{ t("staticPages:terms.disclaimerHeading") }}</h2>

      <p>{{ t("staticPages:terms.disclaimer1") }}</p>

      <p>{{ t("staticPages:terms.disclaimer2") }}</p>
    </div>
  </div>
{% endblock %}
