{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = "Who is going on the visit?" %}

{% set backLinkHref = "/" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">Who is going on the visit?</h1>

      {% if visitors | length %}

        <p>
          Up to <span data-test="visitors-max-total">{{ prison.maxTotalVisitors }} {{ "person" | pluralise(prison.maxTotalVisitors, "people") }}</span>
          can visit someone at <span data-test="prison-name">{{ prison.prisonName }}</span>. This includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <span data-test="visitors-max-adults">{{ prison.maxAdultVisitors }} {{ "person" | pluralise(prison.maxAdultVisitors, "people") }}</span>
            <span data-test="visitors-adult-age">{{ prison.adultAgeYears }} {{ "year" | pluralise(prison.adultAgeYears) }}</span> old or older
          </li>
          <li>
            <span data-test="visitors-max-children">{{ prison.maxChildVisitors }} {{ "person" | pluralise(prison.maxChildVisitors, "people") }}</span> under
            <span data-test="visitors-adult-age">{{ prison.adultAgeYears }} {{ "year" | pluralise(prison.adultAgeYears) }}</span> old
          </li>
        </ul>
        <p>At least one visitor must be 18 years or older</p>

        {% set visitorList = [] %}
        {% for visitor in visitors %}
          {% set visitorList = (visitorList.push({
            value: visitor.visitorId,
            text: visitor.firstName + " " + visitor.lastName + " (" + visitor.dateOfBirth | displayAge + ")"
          }), visitorList)%}
        {% endfor %}
        <form action="/book-a-visit/select-visitors" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          {{ govukCheckboxes({
            name: "visitorIds",
            fieldset: {
              legend: {
                text: "Select visitors",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: visitorList,
            values: formValues.visitorIds,
            errorMessage: errors | findError("visitorIds")
          }) }}

          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-3",
            preventDoubleClick: true,
            attributes: { "data-test": "continue-button" }
          }) }}
        </form>

      {% else %}
        {# TODO check what the message/behaviour in this case should be #}
        <p data-test="no-visitors">No visitor details found.</p>
      {% endif %}

      {# TODO Get correct link for form #}
      {{ govukDetails({
        summaryText: "Add a new visitor",
        html: "<p>The person you want to book for must be on the prisoner's visitor list</p>" +
          "<p>To make a request to book for someone new, <a href='#'>complete the form (opens in a new tab)</a>. We will respond within [x] working days</p>"
      }) }}

    </div>
  </div>
{% endblock %}
