{% extends "../../partials/layout.njk" %}

{% set pageTitle = "A visit cannot be booked" %}

{% set backLinkHref = "/book-a-visit/select-visitors" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">A visit cannot be booked</h1>

      <p>There are no available visit times in the next 28 days.</p>
      <p>Try again later to see if new visit times have become available.</p>
      <p>You can <a href="/" data-test="return-to-home">return to the homepage</a>.</p>

    </div>
  </div>
{% endblock %}
