{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro interruptionCard(params) %}
  <div class="interruption-card" data-test="{{ params.id }}">
    <h1 class="govuk-heading-l interruption-card__heading" data-test="{{ params.id }}-heading">
      {{- params.heading -}}
    </h1>

    <p class="govuk-body-l interruption-card__text" data-test="{{ params.id }}-text">
      {{- params.text -}}
    </p>

    {{ govukButton({
      text: params.continueButton.text,
      classes: "govuk-button--secondary",
      href: params.continueButton.href,
      preventDoubleClick: true,
      attributes: {
        "data-test": params.id + "-continue"
      }
    }) }}

    <p>
      <a class="govuk-link--inverse" data-test="{{ params.id }}-cancel" href="{{ params.cancelLink.href }}">
        {{- params.cancelLink.text -}}
      </a>
    </p>
  </div>
{% endmacro %}
