{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% macro dateOfBirthInput(dobFieldBaseName, formValues, errors) -%}
  {% set errorMessage = errors | findError(dobFieldBaseName + "-day") %}
  {{ govukDateInput({
    id: dobFieldBaseName,
    namePrefix: dobFieldBaseName,
    fieldset: {
      legend: {
        text: t("common:labels.dateOfBirth")
      }
    },
    hint: {
      text: t("common:hints.dateOfBirth")
    },
    items: [
      {
        name: "day",
        classes: "govuk-input--width-2" + (" govuk-input--error" if errorMessage),
        autocomplete: "off",
        value: formValues[dobFieldBaseName + "-day"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2" + (" govuk-input--error" if errorMessage),
        autocomplete: "off",
        value: formValues[dobFieldBaseName + "-month"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4" + (" govuk-input--error" if errorMessage),
        autocomplete: "off",
        value: formValues[dobFieldBaseName + "-year"]
      }
    ],
    errorMessage: errorMessage
  }) }}
{%- endmacro  %}
