{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Check your request" %}

{% set backLinkHref = paths.ADD_VISITOR.DETAILS %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body-l">
        Your answers need to match the information on the prisoner’s visitor list.
      </p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Visitor information</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-text-align-right">
            <a data-test="change" class="govuk-link--no-visited-state" href="{{ paths.ADD_VISITOR.DETAILS }}">Change
              <span class="govuk-visually-hidden"> visitor information</span>
            </a>
          </p>
        </div>
      </div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              html:
                '<span data-test="first-name">' + (visitorDetails.firstName | escape) + "</span>"
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              html:
                '<span data-test="last-name">' + (visitorDetails.lastName | escape) + "</span>"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html:
                '<span data-test="date-of-birth">' + (visitorDetails.visitorDob | formatDate(dateFormats.SHORT_DATE)) + "</span>"
            }
          }
        ]
      }) }}

      <p>
        By submitting this request you confirm that, to the best of your knowledge,
        the details you are providing are correct. Visitors must be on the prisoner’s visitor list.
      </p>

      <p>
        Make sure the visitor information you provide matches the
        <a href="https://www.gov.uk/government/publications/management-of-security-at-visits-policy-framework-open-estate/acceptable-forms-of-identification-id-when-visiting-a-prison-in-england-and-wales-annex-a">acceptable forms of ID</a>
        that the visitor will use when they visit someone in prison.
      </p>

      <form action="{{ paths.ADD_VISITOR.CHECK }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: "Accept and send",
          attributes: { "data-test": "submit" },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
