{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t("addVisitor:checkVisitorDetails.title") %}

{% set backLinkHref = paths.ADD_VISITOR.DETAILS %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body-l">{{ t("addVisitor:checkVisitorDetails.description") }}</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">{{ t("addVisitor:checkVisitorDetails.visitorInformationHeading") }}</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-text-align-right">
            <a data-test="change" class="govuk-link--no-visited-state" href="{{ paths.ADD_VISITOR.DETAILS }}">
              {{- t("common:buttons.change") -}}
              <span class="govuk-visually-hidden">
                {{ t("addVisitor:checkVisitorDetails.changeVisitorInformation") }}
              </span>
            </a>
          </p>
        </div>
      </div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: t("common:labels.firstName")
            },
            value: {
              html:
                '<span data-test="first-name">' + (visitorDetails.firstName | escape) + "</span>"
            }
          },
          {
            key: {
              text: t("common:labels.lastName")
            },
            value: {
              html:
                '<span data-test="last-name">' + (visitorDetails.lastName | escape) + "</span>"
            }
          },
          {
            key: {
              text: t("common:labels.dateOfBirth")
            },
            value: {
              html:
                '<span data-test="date-of-birth">' + (visitorDetails.visitorDob | formatDate(dateFormats.SHORT_DATE)) + "</span>"
            }
          }
        ]
      }) }}

      <p>{{ t("addVisitor:checkVisitorDetails.confirmInformation") }}</p>

      <p>
        {{- t("addVisitor:checkVisitorDetails.acceptableId", {
          url: "https://www.gov.uk/government/publications/management-of-security-at-visits-policy-framework-open-estate/acceptable-forms-of-identification-id-when-visiting-a-prison-in-england-and-wales-annex-a"
        }) | safe -}}
      </p>

      <form action="{{ paths.ADD_VISITOR.CHECK }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: t("common:buttons.acceptAndSend"),
          attributes: { "data-test": "submit" },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
