{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/dateOfBirthInput.njk" import dateOfBirthInput with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = t("addVisitor:visitorDetails.title") %}

{% set backLinkHref = paths.ADD_VISITOR.START %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <form action="{{ paths.ADD_VISITOR.DETAILS }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukInput({
          name: "firstName",
          type: "text",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: t("common:labels.firstName")
          },
          value: formValues.firstName,
          autocomplete: "off",
          spellcheck: "off",
          errorMessage: errors | findError('firstName')
        }) }}

        {{ govukInput({
          name: "lastName",
          type: "text",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: t("common:labels.lastName")
          },
          value: formValues.lastName,
          autocomplete: "off",
          spellcheck: "off",
          errorMessage: errors | findError('lastName')
        }) }}

        {{ dateOfBirthInput('visitorDob', formValues, errors) }}

        {# Only render if the language is Welsh #}
        {{ govukCheckboxes({
          name: "languagePreference",
          fieldset: {
            legend: {
              text: t("common:labels.welshLanguage")
            }
          },
          items: [
            {
              value: "cy",
              text: t("addVisitor:visitorDetails.updatesInWelsh"),
              hint: {
                text: t("common:hints.alsoInEnglish")
              },
              checked: formValues.languagePreference === "cy"
            }
          ]
        }) if language == 'cy' }}

        {{ govukButton({
          text: t("common:buttons.continue"),
          attributes: { "data-test": "continue-button" },
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
