{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t("addVisitor:visitorRequestFailAlreadyLinked.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p data-test="visitor-already-linked">
        {{- t("addVisitor:visitorRequestFailAlreadyLinked.visitorAlreadyLinked", {
          visitorName: visitorDetails.firstName + " " + visitorDetails.lastName
        }) | safe -}}
      </p>

      <p>{{ t("addVisitor:visitorRequestFailAlreadyLinked.noNeedToSubmit") }}</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: t("common:buttons.linkAnotherVisitor"),
          href: paths.ADD_VISITOR.DETAILS,
          classes: "govuk-button--secondary",
          attributes: { "data-test": "link-a-visitor" },
          preventDoubleClick: true
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="{{ paths.VISITORS }}">
          {{- t("addVisitor:visitorRequestFailAlreadyLinked.viewLinkedAndRequestedVisitors") -}}
        </a>
      </div>

    </div>
  </div>
{% endblock %}
