{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Visitor linked" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle,
        classes: "visits-request-confirmation",
        text: visitorName + " has been linked to your account."
      }) }}

      <p>{{ visitorName }} will appear as a visitor when you book visits for {{ prisonerName }}</p>

      {{ govukButton({
        text: "Book a visit",
        href: paths.BOOK_VISIT.ROOT,
        attributes: { "data-test": "book-a-visit" },
        preventDoubleClick: true
      }) }}


      {{ govukButton({
        text: "Link another visitor",
        href: paths.ADD_VISITOR.DETAILS,
        classes: "govuk-button--secondary",
        attributes: { "data-test": "link-a-visitor" },
        preventDoubleClick: true
      }) }}
    </div>
  </div>
{% endblock %}
