{% extends "partials/layout.njk" %}

{% set pageTitle = t("addVisitor:visitorRequestFailTooManyRequests.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>{{ t("addVisitor:visitorRequestFailTooManyRequests.limitReached") }}</p>
      
      <p>{{ t("addVisitor:visitorRequestFailTooManyRequests.cannotMakeAnotherRequest") }}</p>

      <p class="no-visited-state">
        {{- t("addVisitor:visitorRequestFailTooManyRequests.viewLinkedAndRequestedVisitors", {
          url: paths.VISITORS
        }) | safe -}}
      </p>

    </div>
  </div>
{% endblock %}
