{% extends "partials/layout.njk" %}

{% set pageTitle = "You cannot access this service" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>This is a new service. Only people invited to test the service can use it.</p>
      
      <p>
        If you have been invited to test it, <a href="/sign-out">sign out</a>. You can then sign in using the
        email address you gave when applying to test the new service.
      </p>

      <p>Or you can <a href="https://www.gov.uk/prison-visits">use the existing online service to book a prison visit</a>.</p>

    </div>
  </div>
{% endblock %}
