{% extends "partials/layout.njk" %}

{% set pageTitle = t("errors:authError.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>
        {{- t("errors:authError.tryAgain", { url: paths.SIGN_IN }) | safe -}}
      </p>

    </div>
  </div>
{% endblock %}
