{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = "Any additional support needs?" %}

{% set backLinkHref = "/book-visit/choose-visit-time" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">Is additional support needed for any of the visitors?</h1>

      <p>Tell us about any support that visitors will need because of a health condition of disability. For example, wheelchair access.</p>
      <p data-test="prison-name">{{ prisonName }} will make reasonable adjustments for the visit, but may not be able to fulfil your request</p>

      <form action="/book-visit/additional-support" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% set supportDetailsHtml %}
          {{ govukInput({
            id: "additionalSupport",
            name: "additionalSupport",
            type: "text",
            classes: "govuk-!-width-one-half",
            label: {
              text: "Provide details"
            },
            value: formValues.additionalSupport,
            autocomplete: "off",
            errorMessage: errors | findError('additionalSupport')
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "additionalSupportRequired",
          name: "additionalSupportRequired",
          fieldset: {
            legend: {
              text: pageHeaderTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                'data-test': 'support-required-yes'
              },
              checked: formValues.additionalSupportRequired == "yes",
              conditional: {
                html: supportDetailsHtml
              }
            },
            {
              value: "no",
              text: "No",
              attributes: {
                'data-test': 'support-required-no'
              },
              checked: formValues.additionalSupportRequired == "no"
            }
          ],
          errorMessage: errors | findError('additionalSupportRequired')
        }) }}
          
        {{ govukButton({
          text: "Continue",
          attributes: { "data-test": "continue-button" },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
