{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set pageTitle = t("bookVisit:additionalSupport.title") %}

{% set backLinkHref = paths.BOOK_VISIT.CHOOSE_TIME %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>{{ t("bookVisit:additionalSupport.description") }}</p>

      <p data-test="prison-name-support">
        {{- t("bookVisit:additionalSupport.prisonSupport", {
          prisonName: prisonId | getPrisonName(prisonNames, language)
        }) -}}
      </p>

      <form action="{{ paths.BOOK_VISIT.ADDITIONAL_SUPPORT }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% set supportDetailsHtml %}
          {{ govukCharacterCount({
            id: "additionalSupport",
            name: "additionalSupport",
            maxlength: 200,
            threshold: '75',
            type: "text",
            label: {
              text: t("bookVisit:additionalSupport.provideDetails"),
              classes: "govuk-visually-hidden"
            },
            hint: {
              text: t("bookVisit:additionalSupport.provideDetails")
            },
            value: formValues.additionalSupport,
            autocomplete: "off",
            errorMessage: errors | findError('additionalSupport')
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "additionalSupportRequired",
          name: "additionalSupportRequired",
          fieldset: {
            legend: {
              text: pageTitle,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "yes",
              html: t("common:labels.yes") + ' <span class="govuk-visually-hidden">' + t("common:labels.yesDetails") + '</span>',
              attributes: {
                'data-test': 'support-required-yes'
              },
              checked: formValues.additionalSupportRequired == "yes",
              conditional: {
                html: supportDetailsHtml
              }
            },
            {
              value: "no",
              text: t("common:labels.no"),
              attributes: {
                'data-test': 'support-required-no'
              },
              checked: formValues.additionalSupportRequired == "no"
            }
          ],
          errorMessage: errors | findError('additionalSupportRequired')
        }) }}
          
        {{ govukButton({
          text: t("common:buttons.continue"),
          attributes: {
            "data-test": "continue-button",
            "data-test-app-ref": applicationReference if showExtraTestAttrs
          },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
