{% extends "../../partials/layout.njk" %}

{% set pageTitle = "A visit cannot be booked" %}

{% set backLinkHref = paths.HOME %}

{% set prisonerName -%}
  <span data-test="prisoner-name">{{ prisoner.firstName | capitalize }} {{ prisoner.lastName | capitalize }}</span>
{%- endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if cannotBookReason == 'NO_VO_BALANCE' %}
        <p>
          {{ prisonerName | safe }} has used their allowance of visits for this month.
        </p>

        <p>
          You can book a visit from
          <span data-test="book-from-date">{{ prisoner.nextAvailableVoDate | formatDate(dateFormats.PRETTY_DATE) }}</span>.
        </p>
      {% endif %}

      {% if cannotBookReason == 'TRANSFER_OR_RELEASE' %}
        <p>
          {{ prisonerName | safe }} is no longer at <span data-test="registered-prison-name">{{ prisoner.registeredPrisonName }}</span>.
          They may have moved to another prison or been released.
        </p>

        <p>
          If they have moved to another prison,
          <a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales" target="_blank">find out how to book a visit at their new prison</a>.
        </p>
      
        <p>
          For help contacting them, you can use the <a href="https://www.gov.uk/find-prisoner" target="_blank">find a prisoner service</a>.
        </p>
      {% endif %}

      {% if cannotBookReason == 'UNSUPPORTED_PRISON' %}
        <p>
          {{ prisonerName | safe }} is at <span data-test="registered-prison-name">{{ prisoner.registeredPrisonName }}</span>.
          This prison is not currently supported by this service.
        </p>

        <p>
          Find out
          <a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales" target="_blank">how to book a visit at this prison</a>.
        </p>
      {% endif %}

      {% if cannotBookReason == 'NO_ELIGIBLE_ADULT_VISITOR' %}
        <p>
          One person on a visit must be 18 years old or older. None of your adult visitors can be selected.
          This may be because of a new restriction or a ban.
        </p>

        <h2 class="govuk-heading-m">Add a new visitor</h2>
        <p>The person you want to book for must be on the prisoner’s visitor list.</p>

        <p>
          To make a request to book for someone new,
          <a href="https://visit-someone-in-prison-add-visitor.form.service.justice.gov.uk/" target="_blank" rel="noopener noreferrer">complete the form (opens in a new tab)</a>.
          We will respond within 5 working days.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
