{% extends "partials/layout.njk" %}

{% set pageTitle = t("bookVisit:cannotBook.title") %}

{% set backLinkHref = paths.VISITS.HOME %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if cannotBookReason == 'NO_VO_BALANCE' %}
        <p data-test="cannot-book-reason">
          {{- t("bookVisit:cannotBook.noVoBalance", { name: prisoner | prisonerNameFirstLast }) -}}
        </p>

        <p data-test="book-from-date">
          {{- t("bookVisit:cannotBook.bookFromDate", { date: prisoner.nextAvailableVoDate | formatDate(dateFormats.PRETTY_DATE) }) -}}
        </p>
      {% endif %}

      {% if cannotBookReason == 'TRANSFER_OR_RELEASE' %}
        <p data-test="cannot-book-reason">
          {{- t("bookVisit:cannotBook.transferOrRelease", {
            name: prisoner | prisonerNameFirstLast,
            prisonName: prisoner.registeredPrisonId | getPrisonName(prisonNames, language)
          }) -}}
        </p>

        <p>
          {{- t("bookVisit:cannotBook.findHowToBook", {
            url: "https://www.gov.uk/government/collections/prisons-in-england-and-wales"
          }) | safe -}}
        </p>
      
        <p>
          {{- t("bookVisit:cannotBook.findPrisoner", { url: "https://www.gov.uk/find-prisoner" }) | safe -}}
        </p>
      {% endif %}

      {% if cannotBookReason == 'UNSUPPORTED_PRISON' %}
        <p data-test="cannot-book-reason">
          {{- t("bookVisit:cannotBook.unsupportedPrison", {
            name: prisoner | prisonerNameFirstLast,
            prisonName: prisoner.registeredPrisonId | getPrisonName(prisonNames, language)
          }) -}}
        </p>

        <p>
          {{- t("bookVisit:cannotBook.bookAtThisPrison", {
            url: "https://www.gov.uk/government/collections/prisons-in-england-and-wales"
          }) | safe -}}
        </p>
      {% endif %}

      {% if cannotBookReason == 'NO_ELIGIBLE_ADULT_VISITOR' %}
        <p data-test="cannot-book-reason">{{ t("bookVisit:cannotBook.noEligibleAdultVisitor") }}</p>

        <h2 class="govuk-heading-m">{{ t("bookVisit:cannotBook.addNewVisitorHeading") }}</h2>
        <p>{{ t("bookVisit:cannotBook.addNewVisitorDescription") }}</p>

        <p>
          {{- t("bookVisit:cannotBook.addNewVisitorRequest", { url: paths.ADD_VISITOR.START }) | safe -}}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
