{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitle = "Check the visit details before booking" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {%- set visitorsHtml -%}
        {% for visitor in visitors %}
          <p><span data-test="visitor-name-{{ loop.index }}">{{ visitor.firstName }} {{ visitor.lastName }} ({{ visitor.dateOfBirth | displayAge }})</span></p>
        {% endfor %}
      {%- endset -%}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Prisoner"
            },
            value: {
              html: '<span data-test="prisoner-name">' +
                prisoner.firstName | capitalize | escape + " " + prisoner.lastName | capitalize | escape + 
                "</span>"
            }
          },

          {
            key: {
              text: 'Visitors'
            },
            value: {
              html: visitorsHtml
            },
            actions: {
              items: [
                {
                  href: paths.BOOK_VISIT.SELECT_VISITORS,
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "visitors",
                  attributes: { "data-test": "change-visitors" }
                }
              ]
            }
          },

          {
            key: {
              text: "Date and time"
            },
            value: {
              html: '<p><span data-test="visit-date">' + sessionDate | formatDate(dateFormats.PRETTY_DATE) + "</span></p>" +
                '<p><span data-test="visit-time">' + sessionTimeSlot.startTime | formatTime + " to " + sessionTimeSlot.endTime | formatTime + "</span></p>"
            },
            actions: {
              items: [
                {
                  href: paths.BOOK_VISIT.CHOOSE_TIME,
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "date and time",
                  attributes: { "data-test": "change-time" }
                }
              ]
            }
          },

          {
            key: {
              text: "Additional support requests"
            },
            value: {
              html: '<p data-test="additional-support">' + additionalSupport | d("None", true) | escape + "</p>"
            },
            actions: {
              items: [
                {
                  href: paths.BOOK_VISIT.ADDITIONAL_SUPPORT,
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "additional support requests",
                  attributes: { "data-test": "change-additional-support" }
                }
              ]
            }
          },

          {
            key: {
              text: "Main contact"
            },
            value: {
              html: '<p><span data-test="main-contact-name">' + mainContactName | escape + "</span></p>"
            },
            actions: {
              items: [
                {
                  href: paths.BOOK_VISIT.MAIN_CONTACT,
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "main contact",
                  attributes: { "data-test": "change-main-contact" }
                }
              ]
            }
          },

          {
            key: {
              text: "Contact details"
            },
            value: {
              html: '<p><span data-test="contact-details-email">' + mainContactEmail | escape + "</span></p>" +
                    '<p><span data-test="contact-details-phone">' + mainContactPhone | escape + "</span></p>"
                      if mainContactEmail or mainContactPhone else
                    '<p><span data-test="no-contact-details">No contact details provided</span>'
            },
            actions: {
              items: [
                {
                  href: paths.BOOK_VISIT.CONTACT_DETAILS,
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "contact details",
                  attributes: { "data-test": "change-contact-details" }
                }
              ]
            }
          }
        ]
      }) }}

      <form action="{{ paths.BOOK_VISIT.CHECK_DETAILS }}" method="POST" novalidate class="disable-button-on-submit">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: "Submit booking",
          classes: "govuk-!-margin-top-3",
          preventDoubleClick: true,
          attributes: { "data-test": "submit-booking" }
        }) }}
      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script src="/assets/disableButtonOnSubmit.js"></script>
{% endblock %}
