{% extends "../../partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageTitle = "Choose the visit time" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  {% if message %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {{ mojBanner({
          type: "information",
          html: '<h2 class="govuk-heading-m">' + message | escape + '</h2>',
          attributes: { "data-test": "message" }
        }) }}
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>Select one visit time. It will be reserved for 10 minutes.</p>
      <p>
        Only times that
          <span data-test="prisoner-name">{{ prisoner | prisonerNameFirstLast }}</span>
        can attend are shown.
      </p>

      <nav class="visits-calendar" aria-label="Visit date selection calendar" role="navigation">
        {# Loop over months #}
        {% for monthName, monthData in calendar %}
          <h2 class="govuk-heading-m">{{ monthName | formatDate('MMMM yyyy') }}</h2>

          {# Day name headings on first month only #}
          {% if loop.first %}
            <ul class="govuk-list visits-calendar__day-headings" aria-hidden="true">
              <li>M<span>on</span></li>
              <li>T<span>ue</span></li>
              <li>W<span>ed</span></li>
              <li>T<span>hu</span></li>
              <li>F<span>ri</span></li>
              <li>S<span>at</span></li>
              <li>S<span>un</span></li>
            </ul>
          {% endif %}

          <ul class="govuk-list visits-calendar__month">
            {# Days for this month #}
            {% for date, sessions in monthData %}
              {%- set numberOfSessions = sessions | length -%}
              <li data-date="{{ date }}" class="visits-calendar__day
                {%- if loop.first %} visits-calendar__day--start-col-{{ date | formatDate('i') }}{% endif %} {# add column offset based on ISO day of week (1-7) #}
                {%- if selectedDate == date %} visits-calendar__day--selected
                {%- endif %}"
                {%- if not numberOfSessions %}aria-hidden="true"{% endif %}>

                {%- if numberOfSessions %}
                  <a id="day-link-{{ date }}" href="#day-group-{{ date }}">
                    {{ date | formatDate("d") }}
                    <span class="govuk-visually-hidden">{{ date | formatDate("MMMM - eeee") }} - {{ numberOfSessions }} visit {{ "time" | pluralise(numberOfSessions )}} available</span>
                  </a>
                {% else %}
                    <span>{{ date | formatDate("d") }}</span>
                    <span class="govuk-visually-hidden">{{ date | formatDate("MMMM - eeee") }} - no visit times available</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </nav>

      {# if errors, add error ID so anchor link from error summary works #}
      <form action="{{ paths.BOOK_VISIT.CHOOSE_TIME }}" method="POST" novalidate {% if errors | length%}id="visitSession-error"{% endif %} class="disable-button-on-submit">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {# Build radio visit session items from months/dates/sessions data #}
        {% for monthName, monthData in calendar %}
          {% for date, sessions in monthData %}
            {% if sessions | length %}
              {% set visitSessionItems = [] %}
              {% for session in sessions %}
                {% set radioValue = date + "_" + session.reference %}
                {% set visitSessionItems = (visitSessionItems.push({
                  value: radioValue,
                  html: (session.startTime | formatTime) + " to " + (session.endTime | formatTime) +
                   ' <span class="visits-calendar__session-duration">(' + (session.startTime | formatTimeDuration(session.endTime)) + ')</span>',
                  checked: formValues.visitSession == radioValue
                }), visitSessionItems) %}
              {% endfor %}

              {{ govukRadios({
                name: "visitSession",
                idPrefix: "date-" + date,
                formGroup: {
                  classes: "visits-calendar__day-group",
                  attributes: { "data-date": date },
                  afterInputs: {
                    html: '<p><a class="govuk-visually-hidden-focusable govuk-!-display-inline-block govuk-!-margin-top-5" href="#day-link-' +
                      date + '">Choose a different date above</a></p>'
                  }
                },
                fieldset: {
                  attributes: { id: 'day-group-' + date },
                  legend: {
                    text: date | formatDate(dateFormats.PRETTY_DATE),
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                hint: {
                  text: "You can only choose one option",
                  classes: "govuk-visually-hidden"
                },
                items: visitSessionItems,
                errorMessage: errors | findError('visitSession')
              }) }}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {{ govukButton({
          text: "Continue",
          attributes: { "data-test": "continue-button" },
          preventDoubleClick: true
        }) }}

      </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/assets/visitsCalendar.js"></script>
<script src="/assets/disableButtonOnSubmit.js"></script>
{% endblock %}
