{% extends "partials/layout.njk" %}

{% set pageTitle = t("bookVisit:chooseVisitTimeNoSessions.title") %}

{% set backLinkHref = paths.BOOK_VISIT.SELECT_VISITORS %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p data-test="no-sessions-for-prisoner">
        {{- t("bookVisit:chooseVisitTimeNoSessions.noAvailableTimes", { name: prisoner | prisonerNameFirstLast }) -}}
      </p>

      <p>{{ t("bookVisit:chooseVisitTimeNoSessions.tryLater") }}</p>

      <p data-test="contact-prison">
        {{- t("bookVisit:chooseVisitTimeNoSessions.contactPrison", { url: prison.webAddress }) | safe -}}
      </p>
    </div>
  </div>
{% endblock %}
