{% extends "partials/layout.njk" %}

{% set pageTitle = "A visit cannot be booked" %}

{% set backLinkHref = paths.BOOK_VISIT.SELECT_VISITORS %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>
        There are currently no available visit times for
        <span data-test="prisoner-name">{{ prisoner | prisonerNameFirstLast }}</span>.
      </p>

      <p>Try again later to see if new visit times have become available.</p>

      <p>
        If you believe the prisoner should have available visit times, you can
        <a href="{{ prison.webAddress }}" data-test="prison-website">contact the prison directly</a>.
      </p>
    </div>
  </div>
{% endblock %}
