{% extends "partials/layout.njk" %}
{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% set pageTitle = t("bookVisit:closedVisit.title") %}

{% block content %}
  {% call interruptionCard({
    heading: pageTitle,
    primaryAction: {
        text: t("bookVisit:closedVisit.continueToBook"),
        href: paths.BOOK_VISIT.CHOOSE_TIME,
        attributes: { "data-test": "closed-visit-continue" }
    },
    secondaryAction: {
        text: t("bookVisit:closedVisit.cancelAndReturnHome"),
        href: paths.RETURN_HOME
    }
    }) -%}
    <p>{{ t("bookVisit:closedVisit.description") }}</p>
  {%- endcall %}
{% endblock %}
