{% extends "partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t("bookVisit:contactDetails.title") %}

{% set backLinkHref = paths.BOOK_VISIT.MAIN_CONTACT %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">
        {{- t("bookVisit:contactDetails.titleForContact", { name: mainContactName }) -}}
      </h1>

      <p>{{ t("bookVisit:contactDetails.description1") }}</p>
      <p>{{ t("bookVisit:contactDetails.description2") }}</p>

      <form action="{{ paths.BOOK_VISIT.CONTACT_DETAILS }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% set emailHtml %}
        {{ govukInput({
          id: "mainContactEmail",
          name: "mainContactEmail",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          label: {
            text: t("common:labels.emailAddress")
          },
          value: formValues.mainContactEmail,
          errorMessage: errors | findError('mainContactEmail')
        }) }}
        {% endset -%}
  
        {% set phoneHtml %}
        <p class="govuk-hint">
          {{ t("bookVisit:contactDetails.ukMobileHint") }}
        </p>
        {# <p class="govuk-hint">For international numbers include the country code</p> #}

        {{ govukInput({
          id: "mainContactPhone",
          name: "mainContactPhone",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-half",
          label: {
            text: t("common:labels.phoneNumber")
          },
          value: formValues.mainContactPhone,
          errorMessage: errors | findError('mainContactPhone')
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          name: "getUpdatesBy",
          fieldset: {
            legend: {
              text: pageTitle,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "email",
              text: t("bookVisit:contactDetails.getUpdatesByEmail"),
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "phone",
              text: t("bookVisit:contactDetails.getUpdatesByText"),
              conditional: {
                html: phoneHtml
              }
            }
          ],
          values: formValues.getUpdatesBy,
          errorMessage: errors | findError('getUpdatesBy')

        }) }}

        {{ govukButton({
          text: t("common:buttons.continue"),
          attributes: { "data-test": "continue-button" },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
