{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = "Who is going on the visit?" %}

{% set backLinkHref = paths.HOME %}

{% 
  set bannedTagHtml = govukTag({ text: "Banned", classes: "govuk-tag--red" })
%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if eligibleVisitors | length %}

        <p>
          Up to <span data-test="visitors-max-total">{{ prison.maxTotalVisitors }} {{ "person" | pluralise(prison.maxTotalVisitors, "people") }}</span>
          can visit someone at <span data-test="prison-name">{{ prison.prisonName }}</span>. This includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <span data-test="visitors-max-adults">{{ prison.maxAdultVisitors }} {{ "person" | pluralise(prison.maxAdultVisitors, "people") }}</span>
            <span data-test="visitors-adult-age">{{ prison.adultAgeYears }} {{ "year" | pluralise(prison.adultAgeYears) }}</span> old or older
          </li>
          <li>
            <span data-test="visitors-max-children">{{ prison.maxChildVisitors }} {{ "person" | pluralise(prison.maxChildVisitors, "people") }}</span> under
            <span data-test="visitors-adult-age">{{ prison.adultAgeYears }} {{ "year" | pluralise(prison.adultAgeYears) }}</span> old
          </li>
        </ul>
        <p>At least one visitor must be 18 years or older.</p>

        {% set visitorList = [] %}
        {% for visitor in eligibleVisitors %}

          {% if visitor.banned %}
            {% set visitorNameAgeHtml -%}
              {{ visitor.firstName }} {{ visitor.lastName }} ({{ visitor.dateOfBirth | displayAge }}) {{ bannedTagHtml }}
            {%- endset %}

            {% set visitorHintHtml -%}
              <p class="secondary-text govuk-!-margin-bottom-0">
                {{- visitor.firstName }} is banned until {{ visitor.banExpiryDate | formatDate }}.
              </p>
              <p class="secondary-text">If they are selected as a visitor, the visit must be on or after this date.</p>
            {%- endset %}

            {% set visitorList = (visitorList.push({
              value: visitor.visitorDisplayId,
              html: visitorNameAgeHtml,
              hint: { html: visitorHintHtml }
            }), visitorList) %}

          {% else %}
            {% set visitorNameAge = visitor.firstName + " " + visitor.lastName + " (" + visitor.dateOfBirth | displayAge  + ")" %}

            {% set visitorList = (visitorList.push({
              value: visitor.visitorDisplayId,
              text: visitorNameAge 
            }), visitorList) %}
          {% endif%}
        {% endfor %}
  
        <form action="{{ paths.BOOK_VISIT.SELECT_VISITORS }}" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          {{ govukCheckboxes({
            name: "visitorDisplayIds",
            fieldset: {
              legend: {
                text: "Select visitors",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: visitorList,
            values: formValues.visitorDisplayIds,
            errorMessage: errors | findError("visitorDisplayIds")
          }) }}

          {% if ineligibleVisitors | length %}
            <h2 class="govuk-heading-m govuk-!-padding-top-0">Unavailable visitors</h2>
            {% for visitor in ineligibleVisitors %}
              <p class="govuk-!-margin-bottom-2" data-test="banned-visitor-{{ loop.index }}">
                {{- visitor.firstName }} {{ visitor.lastName }} ({{ visitor.dateOfBirth | displayAge }}) {{ bannedTagHtml -}}
              </p>
              {% if visitor.banExpiryDate %}
                <p data-test="ban-expiry-{{ loop.index }}" class="secondary-text govuk-!-margin-bottom-0">
                  {{- visitor.firstName }} is banned until {{ visitor.banExpiryDate | formatDate }}.
                </p>
              {% endif %}
              <p class="secondary-text">You cannot currently book for this visitor.</p>
            {% endfor %}
          {% endif %}

          {% if features.addVisitor %}
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Want to book for someone else?
                </span>
              </summary>
              <div class="govuk-details__text">
                You can only book visits for people linked to your account.
                <br>
                Visitors must be on the prisoner's visitor list.
                <br>
                To make a request, 
                <a data-test="link-a-visitor" href="{{ paths.ADD_VISITOR.START }}">complete the form</a>.
                <br>
                We will respond to your request within 5 working days.
              </div>
            </details>
          {% else %}
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Want to book for someone else?
                </span>
              </summary>
              <div class="govuk-details__text">
                You can only book visits for people linked to your account.
                <br>
                Visitors must be on the prisoner's visitor list.
                <br>
                To make a request, 
                <a data-test="add-visitor-form" href="https://visit-someone-in-prison-add-visitor.form.service.justice.gov.uk/">complete the form</a>.
                <br>
                We will respond to your request within 5 working days.
              </div>
            </details>
          {% endif %}

          {{ govukButton({
            text: "Continue",
            preventDoubleClick: true,
            attributes: { "data-test": "continue-button" }
          }) }}
        </form>

      {% else %}
        {{ govukWarningText({
          text: "No visitors are currently approved.",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
