{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = t("bookVisit:selectVisitors.title") %}

{% set backLinkHref = paths.VISITS.HOME %}

{% set bannedTagHtml = govukTag({ text: t("common:visitors.banned"), classes: "govuk-tag--red" }) %}

{% set notApprovedTagHtml = govukTag({ text: t("common:visitors.notApproved"), classes: "govuk-tag--red" }) %}

{% set ineligibleVisitorsHtml %}
  {% for visitor in ineligibleVisitors %}

    <p class="govuk-!-margin-bottom-2" data-test="unavailable-visitor-{{ loop.index }}">
      {{- visitor.firstName }} {{ visitor.lastName }} ({{ visitor.dateOfBirth | displayAge(t) }}) {{ bannedTagHtml if visitor.banned else notApprovedTagHtml -}}
    </p>
    {% if visitor.banExpiryDate %}
      <p data-test="ban-expiry-{{ loop.index }}" class="secondary-text govuk-!-margin-bottom-0">
        {{- t("common:visitors.bannedUntil", {
          name: visitor.firstName,
          date: visitor.banExpiryDate | formatDate(dateFormats.DISPLAY_DATE, language)
        }) -}}
      </p>
    {% endif %}

    <p class="secondary-text">{{ t("bookVisit:selectVisitors.cannotBookForVisitor") }}</p>
  {% endfor %}
{% endset %}

{% set detailsHtml %}
  <p>{{ t("bookVisit:selectVisitors.bookForSomeoneElse.linkedVisitorsOnly") }}</p>
  <p>{{ t("bookVisit:selectVisitors.bookForSomeoneElse.mustBeOnVisitorList") }}</p>
  <p>
    <a data-test="link-a-visitor" href="{{ paths.ADD_VISITOR.START }}">{{ t("bookVisit:selectVisitors.bookForSomeoneElse.linkVisitorAction") }}</a>.
  </p>
  <p>{{ t("bookVisit:selectVisitors.bookForSomeoneElse.responseTime") }}</p>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if eligibleVisitors | length %}

        <p data-test="max-visitors">
          {{- t("bookVisit:selectVisitors.visitorLimits.maxVisitors", {
            maxVisitors: prison.maxTotalVisitors,
            prisonName: prison.code | getPrisonName(prisonNames, language)
          }) -}}
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li data-test="max-adults">
            {{- t("bookVisit:selectVisitors.visitorLimits.maxAdults", {
              maxAdultVisitors: prison.maxAdultVisitors,
              adultAgeYears: prison.adultAgeYears
            }) -}}
          </li>
          <li data-test="max-children">
            {{- t("bookVisit:selectVisitors.visitorLimits.maxChildren", {
              maxChildVisitors: prison.maxChildVisitors,
              adultAgeYears: prison.adultAgeYears
            }) -}}
          </li>
        </ul>
        <p>{{ t("bookVisit:selectVisitors.visitorLimits.atLeastOneAdult") }}</p>

        {% set visitorList = [] %}
        {% for visitor in eligibleVisitors %}

          {% if visitor.banned %}
            {% set visitorNameAgeHtml -%}
              {{ visitor.firstName }} {{ visitor.lastName }} ({{ visitor.dateOfBirth | displayAge(t) }}) {{ bannedTagHtml }}
            {%- endset %}

            {% set visitorHintHtml -%}
              <p class="secondary-text govuk-!-margin-bottom-0">
                {{- t("common:visitors.bannedUntil", {
                  name: visitor.firstName,
                  date: visitor.banExpiryDate | formatDate(dateFormats.DISPLAY_DATE, language)
                }) -}}
              </p>
              <p class="secondary-text">{{ t("bookVisit:selectVisitors.banDateHint") }}</p>
            {%- endset %}

            {% set visitorList = (visitorList.push({
              value: visitor.visitorDisplayId,
              html: visitorNameAgeHtml,
              hint: { html: visitorHintHtml }
            }), visitorList) %}

          {% else %}
            {% set visitorNameAge = visitor.firstName + " " + visitor.lastName + " (" + (visitor.dateOfBirth | displayAge(t)) + ")" %}

            {% set visitorList = (visitorList.push({
              value: visitor.visitorDisplayId,
              text: visitorNameAge 
            }), visitorList) %}
          {% endif%}
        {% endfor %}
  
        <form action="{{ paths.BOOK_VISIT.SELECT_VISITORS }}" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          {{ govukCheckboxes({
            name: "visitorDisplayIds",
            fieldset: {
              legend: {
                text: t("bookVisit:selectVisitors.selectVisitorsHeading"),
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: visitorList,
            values: formValues.visitorDisplayIds,
            errorMessage: errors | findError("visitorDisplayIds")
          }) }}


          {# Unavailable visitors #}
          {% if ineligibleVisitors | length %}
            <h2 class="govuk-heading-s">{{ t("bookVisit:selectVisitors.unavailableVisitorsHeading") }}</h2>
            {{ ineligibleVisitorsHtml | safe }}
          {% endif %}

          {{ govukDetails({
            summaryText: t("bookVisit:selectVisitors.bookForSomeoneElse.detailsHeading"),
            classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-8",
            html: detailsHtml
          }) }}

          {{ govukButton({
            text: t("common:buttons.continue"),
            preventDoubleClick: true,
            attributes: { "data-test": "continue-button" }
          }) }}
        </form>

      {% else %}
        {{ govukWarningText({
          text: t("bookVisit:selectVisitors.noVisitorsLinked"),
          iconFallbackText: t("common:labels.warning")
        }) }}

        {% if visitorRequestsTableRows | length %}
          <h2 class="govuk-heading-m" data-test="visitor-requests">
            {{- t("bookVisit:selectVisitors.visitorRequestsHeading") -}}
          </h2>

          <p>{{ t("bookVisit:selectVisitors.reviewedByPrison") }}</p>

          {{ govukTable({
            classes: "govuk-!-width-two-thirds",
            head: [
              {
                text: t("common:labels.name")
              },
              {
                text: t("common:labels.dateOfBirth")
              }
            ],
            rows: visitorRequestsTableRows
          }) }}
        {% endif %}

        {# Unavailable visitors #}
        {% if ineligibleVisitors | length %}
            <h2 class="govuk-heading-m">{{ t("bookVisit:selectVisitors.unavailableVisitorsHeading") }}</h2>
          {{ ineligibleVisitorsHtml | safe }}
        {% endif %}

        <h2 class="govuk-heading-m">{{ t("bookVisit:selectVisitors.linkingNewVisitorsTitle") }}</h2>

        <p>{{ t("bookVisit:selectVisitors.bookForSomeoneElse.linkedVisitorsOnly") }}</p>
        <p>{{ t("bookVisit:selectVisitors.bookForSomeoneElse.mustBeOnVisitorList") }}</p>
        <p>{{ t("bookVisit:selectVisitors.bookForSomeoneElse.responseTime") }}</p>

        {{ govukButton({
          text: t("common:buttons.linkNewVisitor"),
          href: paths.ADD_VISITOR.START,
          attributes: { "data-test": "link-a-visitor" },
          preventDoubleClick: true
        }) }} 
      {% endif %}

    </div>
  </div>
{% endblock %}
