{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = "Who is going on the visit?" %}

{% set backLinkHref = paths.HOME %}

{% set detailsHtml %}
  <p class="govuk-body">You can only book visits for people linked to your account.</p>
  <p class="govuk-body">Visitors must be on the prisoner's visitor list.</p>
  <p class="govuk-body">To make a request to book a visit for someone new
  <a class="govuk-link" data-test="link-a-visitor" href="{{ paths.ADD_VISITOR.START }}">
  complete the form
  </a>.
  </p>
  <p class="govuk-body">We will respond to your request within 5 working days.</p>
{% endset %}

{% 
  set bannedTagHtml = govukTag({ text: "Banned", classes: "govuk-tag--red" })
%}
{%
  set notApprovedTagHtml = govukTag({ text: "Not approved", classes: "govuk-tag--red" })
%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if eligibleVisitors | length %}

        <p>
          Up to <span data-test="visitors-max-total">{{ prison.maxTotalVisitors }} {{ "person" | pluralise(prison.maxTotalVisitors, "people") }}</span>
          can visit someone at <span data-test="prison-name">{{ prison.prisonName }}</span>. This includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <span data-test="visitors-max-adults">{{ prison.maxAdultVisitors }} {{ "person" | pluralise(prison.maxAdultVisitors, "people") }}</span>
            <span data-test="visitors-adult-age">{{ prison.adultAgeYears }} {{ "year" | pluralise(prison.adultAgeYears) }}</span> old or older
          </li>
          <li>
            <span data-test="visitors-max-children">{{ prison.maxChildVisitors }} {{ "person" | pluralise(prison.maxChildVisitors, "people") }}</span> under
            <span data-test="visitors-adult-age">{{ prison.adultAgeYears }} {{ "year" | pluralise(prison.adultAgeYears) }}</span> old
          </li>
        </ul>
        <p>At least one visitor must be 18 years or older.</p>

        {% set visitorList = [] %}
        {% for visitor in eligibleVisitors %}

          {% if visitor.banned %}
            {% set visitorNameAgeHtml -%}
              {{ visitor.firstName }} {{ visitor.lastName }} ({{ visitor.dateOfBirth | displayAge }}) {{ bannedTagHtml }}
            {%- endset %}

            {% set visitorHintHtml -%}
              <p class="secondary-text govuk-!-margin-bottom-0">
                {{- visitor.firstName }} is banned until {{ visitor.banExpiryDate | formatDate }}.
              </p>
              <p class="secondary-text">If they are selected as a visitor, the visit must be on or after this date.</p>
            {%- endset %}

            {% set visitorList = (visitorList.push({
              value: visitor.visitorDisplayId,
              html: visitorNameAgeHtml,
              hint: { html: visitorHintHtml }
            }), visitorList) %}

          {% else %}
            {% set visitorNameAge = visitor.firstName + " " + visitor.lastName + " (" + visitor.dateOfBirth | displayAge  + ")" %}

            {% set visitorList = (visitorList.push({
              value: visitor.visitorDisplayId,
              text: visitorNameAge 
            }), visitorList) %}
          {% endif%}
        {% endfor %}
  
        <form action="{{ paths.BOOK_VISIT.SELECT_VISITORS }}" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          {{ govukCheckboxes({
            name: "visitorDisplayIds",
            fieldset: {
              legend: {
                text: "Select visitors",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: visitorList,
            values: formValues.visitorDisplayIds,
            errorMessage: errors | findError("visitorDisplayIds")
          }) }}


          {# Unavailable visitors #}
          {% if ineligibleVisitors | length %}
            <h2 class="govuk-heading-s">Unavailable visitors</h2>
            {% for visitor in ineligibleVisitors %}

              <p class="govuk-!-margin-bottom-2" data-test="unavailable-visitor-{{ loop.index }}">
                {{- visitor.firstName }} {{ visitor.lastName }} ({{ visitor.dateOfBirth | displayAge }}) {{ bannedTagHtml if visitor.banned else notApprovedTagHtml -}}
              </p>
              {% if visitor.banExpiryDate %}
                <p data-test="ban-expiry-{{ loop.index }}" class="secondary-text govuk-!-margin-bottom-0">
                  {{- visitor.firstName }} is banned until {{ visitor.banExpiryDate | formatDate }}.
                </p>
              {% endif %}

              <p class="secondary-text">You cannot currently book a visit for this visitor.</p>
            {% endfor %}
          {% endif %}


          {# Visitor requests #}
          {% if visitorRequests | length %}
            <h2 class="govuk-heading-s">Visitors awaiting review</h2>

            <p class="govuk-hint">
              You cannot book for these visitors until your request is approved by the prison.
            </p>

            <ul class="govuk-list">
              {% for visitorRequest in visitorRequests %}
                <li data-test="visitor-request-{{ loop.index }}">
                  {{ visitorRequest.firstName }} {{ visitorRequest.lastName }} ({{ visitorRequest.dateOfBirth | displayAge }})
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {{ govukDetails({
            summaryText: "Want to book for someone else?",
            classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-8",
            html: detailsHtml
          }) }}

          {{ govukButton({
            text: "Continue",
            preventDoubleClick: true,
            attributes: { "data-test": "continue-button" }
          }) }}
        </form>

      {% else %}
        {{ govukWarningText({
          text: "No visitors are currently linked to your account.",
          iconFallbackText: "Warning"
        }) }}

        <p>
          To book a visit for this prisoner, you need to
          <a href="{{ paths.VISITORS }}">add visitors</a>.
        </p>
      {% endif %}

    </div>
  </div>
{% endblock %}
