{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = t("bookVisit:visitBooked.title") %}

{% if not bookVisitConfirmed.hasEmail and bookVisitConfirmed.hasMobile %}
  {% set confirmationMessage = t("bookVisit:visitBooked.confirmByText") %}
{% endif %}

{% if bookVisitConfirmed.hasEmail and not bookVisitConfirmed.hasMobile %}
  {% set confirmationMessage = t("bookVisit:visitBooked.confirmByEmail") %}
{% endif %}

{% if bookVisitConfirmed.hasEmail and bookVisitConfirmed.hasMobile %}
  {% set confirmationMessage = t("bookVisit:visitBooked.confirmByEmailAndText") %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle,
        html: t("bookVisit:visitBooked.yourReference") +
          '<br><strong data-test="visit-reference-title">' + bookVisitConfirmed.visitReference + "</strong>"
      }) }}

      {% if confirmationMessage %}
        <p data-test="confirmation-notification-message">
          {{- confirmationMessage }} {{ t("bookVisit:visitBooked.withReference") -}}
        </p>
      {% endif %}

      <p class="no-visited-state">
        {{- t("bookVisit:visitBooked.checkVisitDetails", { url: paths.VISITS.HOME }) | safe -}}
      </p>

      <p>
        {{- t("bookVisit:visitBooked.feedback", {
          url: "https://submit.forms.service.gov.uk/form/263703/visit-someone-in-prison/"
        }) | safe -}}
      </p>

      <div data-test="prison-specific-content">
        {% include "partials/howToChangeVisit.njk" %}
        {% include "partials/visitingInfo.njk" %}
      </div>
    </div>
  </div>

{% endblock %}
