{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = t("bookVisit:visitRequested.title") %}

{% if not bookVisitConfirmed.hasEmail and bookVisitConfirmed.hasMobile %}
  {% set requestConfirmationMessage = t("bookVisit:visitRequested.detailsByText") %}
  {% set responseMessage = t("bookVisit:visitRequested.responseByText") %}
{% endif %}

{% if bookVisitConfirmed.hasEmail and not bookVisitConfirmed.hasMobile %}
  {% set requestConfirmationMessage = t("bookVisit:visitRequested.detailsByEmail") %}
  {% set responseMessage = t("bookVisit:visitRequested.responseByEmail") %}
{% endif %}

{% if bookVisitConfirmed.hasEmail and bookVisitConfirmed.hasMobile %}
  {% set requestConfirmationMessage = t("bookVisit:visitRequested.detailsByEmailAndText") %}
  {% set responseMessage = t("bookVisit:visitRequested.responseByEmailAndText") %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle,
        classes: "visits-request-confirmation",
        text: t("bookVisit:visitRequested.requestReviewBy", {
          prisonName: bookVisitConfirmed.prison.code | getPrisonName(prisonNames, language)
        }),
        attributes: { "data-test": "visit-requested-panel" }
      }) }}

      {% if requestConfirmationMessage %}
        <p data-test="request-confirmation-message">{{ requestConfirmationMessage }}</p>
      {% endif %}

      <p>
        {{- t("bookVisit:visitRequested.visitReference") }}
        <span data-test="request-reference">{{ bookVisitConfirmed.visitReference }}</span>
      </p>


      <h2 class="govuk-heading-m">{{ t("common:postBooking.whatHappensNext") }}</h2>

      <p>{{ t("bookVisit:visitRequested.notBookedYet") }}</p>

      <p data-test="confirm-or-reject">
        {{- t("bookVisit:visitRequested.confirmOrReject", {
          prisonName: bookVisitConfirmed.prison.code | getPrisonName(prisonNames, language)
        }) -}}
      </p>

      {% if responseMessage %}
        <p data-test="response-message">{{ responseMessage }}</p>
      {% endif %}
      
      <p class="no-visited-state">
        {{- t("bookVisit:visitRequested.upcomingVisitsStatus", { url: paths.VISITS.HOME }) | safe -}}
      </p>

    </div>
  </div>

{% endblock %}
