{% extends "../../partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Visit booked" %}

{% if not bookingConfirmed.hasEmail and bookingConfirmed.hasMobile %}
  {% set confirmationMessage =
    "A text message confirming the visit will be sent to the main contact. This will include the booking reference." %}
{% endif %}
{% if bookingConfirmed.hasEmail and bookingConfirmed.hasMobile %}
  {% set confirmationMessage =
    "An email and a text message confirming the visit will be sent to the main contact. This will include the booking reference." %}
{% endif %}
{% if bookingConfirmed.hasEmail and not bookingConfirmed.hasMobile %}
  {% set confirmationMessage =
    "An email confirming the visit will be sent to the main contact. This will include the booking reference." %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle,
        html: 'Your booking reference is<br><strong data-test="booking-reference-title">' + bookingConfirmed.visitReference + "</strong>"
      }) }}

      {% if confirmationMessage %}
        <p data-test="confirmation-notification-message">{{ confirmationMessage }}</p>
      {% endif %}

      <p>When signed in to GOV.UK One Login, you can <a class="govuk-link--no-visited-state" href="{{ paths.BOOKINGS.HOME }}">check the details of your bookings</a>.</p>

      <p>You can help us to improve this service by giving <a href="https://visit-someone-in-prison-test-feedback.form.service.justice.gov.uk/">feedback</a>.</p>

      <div data-test="prison-specific-content">
        {% include "partials/howToChangeBooking.njk" %}

        <h2 class="govuk-heading-m">Prepare for visiting {{ prison.prisonName }}</h2>

        <p>All visitors over 16 years old must show
          <a href="https://www.gov.uk/government/publications/management-of-security-at-visits-policy-framework-open-estate/acceptable-forms-of-identification-id-when-visiting-a-prison-in-england-and-wales-annex-a" target="_blank">
            acceptable forms of ID to enter the prison</a>.
        </p> 

        <p>Visitors should arrive <span data-test="minutes-before-visit">45</span> minutes before the visit starts.</p>

        <p>You can read more about
          <a href="{{ prison.webAddress }}" data-test="prison-website" target="_blank">visits at {{ prison.prisonName }}</a>.
          This includes information on getting to the prison and visiting facilities.
        </p>

        <h2 class="govuk-heading-m">What to expect when visiting a prison</h2>

        <p>Visitors will be searched before entering the prison visiting room.</p>

        <p>Prison staff may check visitors’ pockets, pat them down and ask them to go through a metal detector. Dogs may also be used to detect illegal substances.</p>
      </div>
    
      <h2 class="govuk-heading-m">Help with the cost of prison visits</h2>

      <p>You may be able to <a href="https://www.gov.uk/help-with-prison-visits" target="_blank">get help with the cost of prison visits</a> if you’re getting certain benefits or have a health certificate.</p>

    </div>
  </div>

{% endblock %}
