$govuk-global-styles: true;
$govuk-new-typography-scale: true;
$path: "/assets/images/";

@import 'govuk/all';

@import './components/service-header-no-imports';
@import './components/visitsCalendar.scss';
@import './local';
