$govuk-global-styles: true;
$govuk-new-typography-scale: true;
$path: "/assets/images/";

@import 'govuk';

// MoJ components
@import 'moj/all';
// @import "moj/components/banner/banner";
// @import "moj/components/interruption-card/interruption-card";

// GOV.UK One Login components
@import './components/service-header-no-imports';

@import 'dist/accessible-autocomplete.min';

@import './components/visits-spacing';
@import './components/visitsCalendar';
@import './local';
