.govuk-main-wrapper {
  min-height: 300px;
}

.env--dev .govuk-service-navigation__service-name::after {
  content: "DEV";
}
.env--staging .govuk-service-navigation__service-name::after {
  content: "STAGING";
  @extend .govuk-tag--orange;
}
.env--preprod .govuk-service-navigation__service-name::after {
  content: "PREPROD";
  @extend .govuk-tag--green;
}
.govuk-service-navigation__service-name::after {
  margin-left: govuk-spacing(1);
  @extend .govuk-tag;
}

.autocomplete__wrapper {
  @include govuk-typography-common();
}

.autocomplete__dropdown-arrow-down {
  z-index: 1;
}

.autocomplete__option > span {
  // workaround for accessible autocomplete issue
  // https://github.com/alphagov/accessible-autocomplete/issues/556
  @include govuk-visually-hidden();
}

.govuk-panel.visits-request-confirmation {
  background-color: govuk-colour("blue");
}

.warning {
  color: govuk-colour("red");
}

.secondary-text {
  color: $govuk-secondary-text-colour
}
