.govuk-main-wrapper {
  min-height: 300px;
}

.autocomplete__wrapper {
  @include govuk-typography-common();
}

.autocomplete__dropdown-arrow-down {
  z-index: 1;
}

.autocomplete__option > span {
  // workaround for accessible autocomplete issue
  // https://github.com/alphagov/accessible-autocomplete/issues/556
  @include govuk-visually-hidden();
}

.govuk-panel.visits-request-confirmation {
  background-color: govuk-colour("blue");
}

.warning {
  color: govuk-colour("red");
}

.secondary-text {
  color: $govuk-secondary-text-colour
}
