generic-service:
  nameOverride: hmpps-book-a-prison-visit-ui
  productId: "DPS035"

  replicaCount: 4

  image:
    repository: quay.io/hmpps/hmpps-book-a-prison-visit-ui
    tag: app_version # override at deployment time
    port: 3000

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-book-a-prison-visit-ui-cert
    modsecurity_enabled: true
    modsecurity_audit_enabled: true
    modsecurity_github_team: "hmpps-prison-visits-booking"
    annotations:
      nginx.ingress.kubernetes.io/limit-rpm: "120"

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping

  custommetrics:
    enabled: true
    scrapeInterval: 15s
    metricsPath: /metrics
    metricsPort: 3001

  # Environment variables to load into the deployment
  env:
    NODE_ENV: "production"
    REDIS_ENABLED: "true"
    REDIS_TLS_ENABLED: "true"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY);IngestionEndpoint=https://northeurope-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northeurope.livediagnostics.monitor.azure.com/"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-book-a-prison-visit-ui:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      SYSTEM_CLIENT_ID: "SYSTEM_CLIENT_ID"
      SYSTEM_CLIENT_SECRET: "SYSTEM_CLIENT_SECRET"
      SESSION_SECRET: "SESSION_SECRET"
    govuk-one-login:
      GOVUK_ONE_LOGIN_CLIENT_ID: "GOVUK_ONE_LOGIN_CLIENT_ID"
      GOVUK_ONE_LOGIN_PRIVATE_KEY: "GOVUK_ONE_LOGIN_PRIVATE_KEY"
    elasticache-redis-public:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"

  allowlist:
    moj-official-tgw-prod: 51.149.250.0/24
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-book-a-prison-visit-ui
