{% extends "partials/layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t("selectPrison:selectedPrison.title", { prisonName: prisonName }) %}

{% set backLinkHref = paths.SELECT_PRISON %}

{% set insetText -%}
  {{- t("selectPrison:selectedPrison.onlyOnePrisoner", {
    prisonName: prisonName,
    url: "https://www.gov.uk/government/collections/prisons-in-england-and-wales"
  }) | safe -}}
{%- endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>{{ t("selectPrison:selectedPrison.howBookingChanged") }}</p>

      <p>{{ t("selectPrison:selectedPrison.signInPrompt") }}</p>

      {{ govukInsetText({
        html: insetText
      }) }}

      {{ govukButton({
        text: t("common:buttons.continue"),
        href: paths.SIGN_IN,
        attributes: { "data-test": "continue-button" },
        preventDoubleClick: true
      }) }} 
    </div>
  </div>

{% endblock %}
