{% extends "partials/layout.njk" %}

{% set pageTitle = t("addPrisoner:prisonerNotMatched.title") %}

{% set backLinkHref = paths.ADD_PRISONER.DETAILS %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p data-test="no-match-at-prison">
        {{- t("addPrisoner:prisonerNotMatched.noMatch", { prisonName: prisonName }) -}}
      </p>

      <p>{{ t("addPrisoner:prisonerNotMatched.reason") }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t("addPrisoner:prisonerNotMatched.reasonIncorrect") }}</li>
        <li>{{ t("addPrisoner:prisonerNotMatched.reasonNotAtPrison") }}</li>
      </ul>

      <p data-test="check-details">
        {{- t("addPrisoner:prisonerNotMatched.checkDetails", { url: paths.ADD_PRISONER.DETAILS }) | safe -}}
      </p>

      <p>{{ t("addPrisoner:prisonerNotMatched.contact") }}</p>
    </div>
  </div>
{% endblock %}
