{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t("addPrisoner:prisonerAdded.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle
      }) }}

      <p>{{ t("addPrisoner:prisonerAdded.matchedMessage") }}</p>

      <p>{{ t("addPrisoner:prisonerAdded.nextStep") }}</p>

      {{ govukButton({
        text: t("common:buttons.addVisitors"),
        href: paths.ADD_VISITOR.START,
        attributes: { "data-test": "add-visitors-button" },
        preventDoubleClick: true
      }) }}

    </div>
  </div>
{% endblock %}
