{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/dateOfBirthInput.njk" import dateOfBirthInput with context %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t("addPrisoner:prisonerDetails.title") %}

{% set backLinkHref = paths.ADD_PRISONER.LOCATION %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <form action="{{ paths.ADD_PRISONER.DETAILS }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukInput({
          name: "firstName",
          type: "text",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: t("common:labels.firstName")
          },
          value: formValues.firstName,
          autocomplete: "off",
          spellcheck: "off",
          errorMessage: errors | findError('firstName')
        }) }}

        {{ govukInput({
          name: "lastName",
          type: "text",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: t("common:labels.lastName")
          },
          value: formValues.lastName,
          autocomplete: "off",
          spellcheck: "off",
          errorMessage: errors | findError('lastName')
        }) }}

        {{ dateOfBirthInput('prisonerDob', formValues, errors) }}

        {{ govukInput({
          name: "prisonNumber",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: t("common:labels.prisonNumber")
          },
          hint: {
            text: t("common:hints.prisonNumber")
          },
          value: formValues.prisonNumber,
          autocomplete: "off",
          spellcheck: "off",
          errorMessage: errors | findError('prisonNumber')
        }) }}

        {% call govukDetails({
            summaryText: t("addPrisoner:prisonerDetails.prisonNumberHelpSummary")
          }) %}
          <p>{{ t("addPrisoner:prisonerDetails.prisonNumberHelpText1") }}</p>
          <p>{{ t("addPrisoner:prisonerDetails.prisonNumberHelpText2") }}</p>
          <p>{{ t("addPrisoner:prisonerDetails.prisonNumberHelpText3") }}</p>
        {% endcall %}

        {{ govukButton({
          text: t("common:buttons.confirmAndSend"),
          attributes: { "data-test": "confirm-button" },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
