{% extends "partials/layout.njk" %}

{% set pageTitle = "Prisoner details do not match" %}

{% set backLinkHref = paths.ADD_PRISONER.DETAILS %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>The prisoner details you submitted do not match anyone at <span data-test="prison-name">{{ prisonName}}</span>.</p>

      <p>This could be because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the prisoner details are incorrect</li>
        <li>they are not located at this prison</li>
      </ul>

      <p>
        You can <a data-test="check-details" href="{{ paths.ADD_PRISONER.DETAILS }}">check the details you submitted by going back to the previous page</a>.
      </p>

      <p>If the prisoner details cannot be matched, you will need contact the prisoner to get the correct information before you book a visit.</p>
    </div>
  </div>
{% endblock %}
