{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = t("staticPages:cookies.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>{{ t("staticPages:cookies.whatAreCookies") }}</p>
      <p>{{ t("staticPages:cookies.whatWeUse") }}</p>


      <h2 class="govuk-heading-m">{{ t("staticPages:cookies.essentialHeading") }}</h2>
      <p>{{ t("staticPages:cookies.essentialDescription") }}</p>

      {{ govukTable({
        head: [
          {
            text: t("staticPages:cookies.tableHeaders.name")
          },
          {
            text: t("staticPages:cookies.tableHeaders.purpose")
          },
          {
            text: t("staticPages:cookies.tableHeaders.expires")
          }
        ],
        rows: [
          [
            {
              text: "prison_visits.session"
            },
            {
              text: t("staticPages:cookies.sessionCookiePurpose")
            },
            {
              text: t("staticPages:cookies.sessionCookieExpiry")
            }
          ],
          [
            {
              text: "cookie_policy"
            },
            {
              text: t("staticPages:cookies.consentCookiePurpose")
            },
            {
              text: t("common:plurals.year", { count: 1 })
            }
          ]
        ]
      }) }}


      <h2 class="govuk-heading-m">{{ t("staticPages:cookies.analyticsHeading") }}</h2>
      <p>{{ t("staticPages:cookies.analyticsDescription") }}</p>
      <p>{{ t("staticPages:cookies.analyticsNoShare") }}</p>
      <p>{{ t("staticPages:cookies.analyticsStores") }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t("staticPages:cookies.analyticsItems.howYouArrived") }}</li>
        <li>{{ t("staticPages:cookies.analyticsItems.pagesVisited") }}</li>
        <li>{{ t("staticPages:cookies.analyticsItems.errors") }}</li>
      </ul>
      <p>{{ t("staticPages:cookies.analyticsSets") }}</p>

      {{ govukTable({
        head: [
          {
            text: t("staticPages:cookies.tableHeaders.name")
          },
          {
            text: t("staticPages:cookies.tableHeaders.purpose")
          },
          {
            text: t("staticPages:cookies.tableHeaders.expires")
          }
        ],
        rows: [
          [
            {
              text: "_ga"
            },
            {
              text: t("staticPages:cookies.gaCookiePurpose")
            },
            {
              text: t("common:plurals.year", { count: 2 })
            }
          ],
          [
            {
              text: "_ga_" + (googleAnalyticsId | replace("G-", "")),
              attributes: {
                "data-test": "ga-cookie-name"
              }
            },
            {
              text: t("staticPages:cookies.gaIdCookiePurpose")
            },
            {
              text: t("common:plurals.year", { count: 2 })
            }
          ]
        ]
      }) }}

      <form action="{{ paths.COOKIES }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "acceptAnalytics",
            fieldset: {
              legend: {
                text: t("staticPages:cookies.acceptQuestion"),
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "yes",
                text: t("common:labels.yes"),
                checked: analyticsEnabled == true
              },
              {
                value: "no",
                text: t("common:labels.no"),
                checked: analyticsEnabled == false
              }
            ],
            errorMessage: errors | findError("acceptAnalytics")
          }) }}

          {{ govukButton({
            text: t("staticPages:cookies.saveSettings"),
            preventDoubleClick: true,
            attributes: { "data-test": "save-cookie-settings" }
          }) }}
      </form>
    </div>
  </div>
{% endblock %}
