{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = t("visits:cancel.title") %}

{% set backLinkHref = paths.VISITS.DETAILS + '/' + visit.visitDisplayId %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ t("visits:cancel.heading") }}</h1>

      <h2 class="govuk-heading-m">{{ t("common:labels.dateAndTime") }}</h2>
      <ul class="govuk-list">
        <li data-test="visit-date">
          {{- visit.startTimestamp | formatDate(dateFormats.DISPLAY_DATE_WITH_DAY, language) -}}
        </li>
        <li data-test="visit-start-end-time">
          {{- t("common:dateTime.timeRange", {
            startTime: visit.startTimestamp | formatTimeFromDateTime(language),
            endTime: visit.endTimestamp | formatTimeFromDateTime(language)
          }) -}}
        </li>
      </ul>

      <h2 class="govuk-heading-m">{{ t("common:labels.prisoner") }}</h2>
      <ul class="govuk-list">
        <li data-test="prisoner-name">{{ visit.prisonerFirstName | capitalize }} {{ visit.prisonerLastName | capitalize }}</li>
      </ul>


      <h2 class="govuk-heading-m">{{ t("common:labels.visitors") }}</h2>
      <ul class="govuk-list">
        {% for visitor in visit.visitors %}
          <li data-test="visitor-name-{{ loop.index }}">
            {{ visitor.firstName }} {{ visitor.lastName }}
          </li>
        {% endfor %}
      </ul>

      <form class="govuk-!-margin-top-7 disable-button-on-submit" action="{{ paths.VISITS.CANCEL_VISIT }}/{{ visitDisplayId }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          name: "cancelVisit",
          items: [
            {
              value: "yes",
              text: t("visits:cancel.yesCancelOption"),
              attributes: {
                'data-test': 'cancel-visit-yes'
              }
            },
            {
              value: "no",
              text: t("visits:cancel.noCancelOption"),
              attributes: {
                'data-test': 'cancel-visit-no'
              }
            }
          ],
          errorMessage: errors | findError('cancelVisit')
        }) }}
          
        {{ govukButton({
          text: t("visits:cancel.confirmButton"),
          attributes: {
            "data-test": "confirm-button"
          },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/assets/disableButtonOnSubmit.js"></script>
{% endblock %}
