{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = "Cancel your visit" %}

{% set backLinkHref = paths.VISITS.DETAILS + '/' + visit.visitDisplayId %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">Are you sure you want to cancel your visit?</h1>

      <h2 class="govuk-heading-m">Date and time</h2>
      <ul class="govuk-list">
        <li data-test="visit-date">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</li>
        <li>
          <span data-test="visit-start-time">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
          to
          <span data-test="visit-end-time">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Prisoner</h2>
      <ul class="govuk-list">
        <li data-test="prisoner-name">{{ visit.prisonerFirstName | capitalize }} {{ visit.prisonerLastName | capitalize }}</li>
      </ul>


      <h2 class="govuk-heading-m">Visitors</h2>
      <ul class="govuk-list">
        {% for visitor in visit.visitors %}
          <li data-test="visitor-name-{{ loop.index }}">
            {{ visitor.firstName }} {{ visitor.lastName }}
          </li>
        {% endfor %}
      </ul>

      <form class="govuk-!-margin-top-7 disable-button-on-submit" action="{{ paths.VISITS.CANCEL_VISIT }}/{{ visitDisplayId }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          name: "cancelVisit",
          items: [
            {
              value: "yes",
              text: "Yes, cancel this visit",
              attributes: {
                'data-test': 'cancel-visit-yes'
              }
            },
            {
              value: "no",
              text: "No, keep this visit",
              attributes: {
                'data-test': 'cancel-visit-no'
              }
            }
          ],
          errorMessage: errors | findError('cancelVisit')
        }) }}
          
        {{ govukButton({
          text: "Confirm",
          attributes: {
            "data-test": "confirm-button"
          },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/assets/disableButtonOnSubmit.js"></script>
{% endblock %}
