{% extends "partials/layout.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set activeLink = 'visits-link' %}
{% set pageTitle = t("visits:future.title") %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if prisoner %}

        <p>{{ t("visits:future.onlyGovukBookings") }}</p>

        <h2 class="govuk-heading-m" data-test="prisoner-name-at-location">
          {{- t("visits:future.prisonerAtLocation", {
            prisonerName: prisoner | prisonerNameFirstLast,
            prisonName: prisoner.registeredPrisonId | getPrisonName(prisonNames, language)
          }) -}}
        </h2>

        {% if visits | length %}
          {% for visit in visits %}
            {% set isRequest = visit.visitSubStatus == "REQUESTED" %}

            <h3 class="govuk-heading-s" data-test="visit-date-{{ loop.index }}">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</h3>

            <ul class="govuk-list">
              {% if isRequest %}
                <li>
                  {{ govukTag({
                  text: t("visits:future.awaitingReview"),
                  classes: "govuk-tag--orange govuk-!-margin-bottom-2",
                  attributes: { "data-test": "tag-" + loop.index  }
                }) }}
                </li>
              {% endif %}
              <li data-test="visit-start-end-time-{{ loop.index }}">
                {{- t("common:dateTime.timeRange", {
                  startTime: visit.startTimestamp | formatTimeFromDateTime,
                  endTime: visit.endTimestamp | formatTimeFromDateTime
                }) -}}
              </li>
              <li>
                {{ t("visits:future.visitReference") }}
                <span data-test="visit-reference-{{ loop.index }}">{{ visit.reference }}</span>
              </li>
              <li>
                <a href="{{ paths.VISITS.DETAILS }}/{{ visit.visitDisplayId }}" class="govuk-link--no-visited-state" data-test="visit-link-{{ loop.index }}">
                  {{- t("visits:future.viewDetailsLink") }}
                  <span class="govuk-visually-hidden">
                    {{ t("visits:future.viewDetailsLinkHidden", {
                      startTime: visit.startTimestamp | formatTimeFromDateTime,
                      date: visit.startTimestamp | formatDate('d MMMM')
                    }) }}
                  </span>
                </a>
                <a href="{{ paths.VISITS.CANCEL_VISIT }}/{{ visit.visitDisplayId }}" class="govuk-link--no-visited-state govuk-!-padding-left-3" data-test="visit-link-cancel-{{ loop.index }}">
                  {{- t("visits:future.cancelLink") }}
                  <span class="govuk-visually-hidden">
                    {{ t("visits:future.cancelLinkHidden", {
                      startTime: visit.startTimestamp | formatTimeFromDateTime,
                      date: visit.startTimestamp | formatDate('d MMMM')
                    }) }}
                  </span>
                </a>
              </li>
            </ul>
          {% endfor %}

        {% else %}
          <p data-test="no-visits">{{ t("visits:future.noFutureVisits") }}</p>
        {% endif %}

        <form action="{{ paths.BOOK_VISIT.SELECT_PRISONER }}" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          <input type="hidden" name="prisonerDisplayId" value="{{ prisoner.prisonerDisplayId }}">

          {{ govukButton({
            text: t("common:buttons.bookAVisit"),
            classes: "govuk-!-margin-top-3",
            preventDoubleClick: true,
            attributes: { "data-test": "book-a-visit" }
          }) }}
        </form>

        <p>
          <a href="{{ paths.VISITS.PAST }}" class="govuk-link--no-visited-state" data-test="past-visits-link">
            {{- t("visits:future.viewPastVisits") -}}
          </a>
        </p>
        <p>
          <a href="{{ paths.VISITS.CANCELLED }}" class="govuk-link--no-visited-state" data-test="cancelled-visits-link">
            {{- t("visits:future.viewCancelledVisits") -}}
          </a>
        </p>

      {% else %}
        <p data-test="no-prisoner">{{ t("visits:future.noPrisonerError") }}</p>

        {{ govukButton({
          text: t("visits:future.addPrisoner"),
          href: paths.ADD_PRISONER.LOCATION,
          classes: "govuk-!-margin-top-3",
          preventDoubleClick: true,
          attributes: { "data-test": "add-prisoner" }
        }) }}

      {% endif %}
      
    </div>
  </div>

{% endblock %}
