{% extends "partials/layout.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set activeLink = 'visits-link' %}
{% set pageTitle = "Visits" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>Only requests and visits booked using GOV.UK One Login are shown.</p>

      <h2 class="govuk-heading-m">Future visits</h2>

      {% if visits | length %}
        {% for visit in visits %}
          {% set isRequest = visit.visitSubStatus == "REQUESTED" %}

          <h3 class="govuk-heading-s" data-test="visit-date-{{ loop.index }}">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</h3>

          <ul class="govuk-list">
            {% if isRequest %}
              <li>
                {{ govukTag({
                text: "Awaiting review",
                classes: "govuk-tag--orange govuk-!-margin-bottom-2",
                attributes: { "data-test": "tag-" + loop.index  }
              }) }}
              </li>
            {% endif %}
            <li>
              <span data-test="visit-start-time-{{ loop.index }}">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
              to
              <span data-test="visit-end-time-{{ loop.index }}">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
            </li>
            <li>
              Visit reference:
              <span data-test="visit-reference-{{ loop.index }}">{{ visit.reference }}</span>
            </li>
            <li>
              <a href="{{ paths.VISITS.DETAILS }}/{{ visit.visitDisplayId }}" class="govuk-link--no-visited-state" data-test="visit-link-booking-{{ loop.index }}">
                View details
                <span class="govuk-visually-hidden">
                  of your visit for {{ visit.startTimestamp | formatTimeFromDateTime }} on {{ visit.startTimestamp | formatDate('d MMMM') }}
                </span>
              </a>
              <a href="{{ paths.VISITS.CANCEL_VISIT }}/{{ visit.visitDisplayId }}" class="govuk-link--no-visited-state govuk-!-padding-left-3" data-test="visit-link-cancel-{{ loop.index }}">
                Cancel <span class="govuk-visually-hidden">your</span> visit
                <span class="govuk-visually-hidden">
                  for {{ visit.startTimestamp | formatTimeFromDateTime }} on {{ visit.startTimestamp | formatDate('d MMMM') }}
                </span>
              </a>
            </li>
          </ul>
        {% endfor %}

      {% else %}
        <p data-test="no-visits">You do not have any future visits.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Other visits</h2>
      <p>
        <a href="{{ paths.VISITS.PAST }}" class="govuk-link--no-visited-state" data-test="past-visits-link">View past visits</a>
      </p>
      <p>
        <a href="{{ paths.VISITS.CANCELLED }}" class="govuk-link--no-visited-state" data-test="cancelled-visits-link">View rejected and cancelled visits</a>
      </p>
      
    </div>
  </div>

{% endblock %}
