{% extends "partials/layout.njk" %}

{% set activeLink = 'visits-link' %}
{% set pageTitle = "Past visits" %}

{% set backLinkHref = paths.VISITS.HOME %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>Only requests and visits booked using GOV.UK One Login are shown.</p>

      {% if visits | length %}
        {% for visit in visits %}
          <h2 class="govuk-heading-s" data-test="visit-date-{{ loop.index }}">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</h2>
          <ul class="govuk-list">
            <li>
              <span data-test="visit-start-time-{{ loop.index }}">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
              to
              <span data-test="visit-end-time-{{ loop.index }}">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
            </li>
            <li>
              <a href="{{ paths.VISITS.VISIT_PAST }}/{{ visit.visitDisplayId }}" class="govuk-link--no-visited-state" data-test="visit-link-{{ loop.index }}">
                View details
                <span class="govuk-visually-hidden">
                  of your visit for {{ visit.startTimestamp | formatTimeFromDateTime }} on {{ visit.startTimestamp | formatDate('d MMMM') }}
                </span>
              </a>
            </li>
          </ul>
        {% endfor %}

      {% else %}
        <p data-test="no-visits">You do not have any past visits.</p>
      {% endif %}
      
    </div>
  </div>

{% endblock %}
