{% extends "partials/layout.njk" %}

{% set activeLink = 'visits-link' %}
{% set pageTitle = t("visits:past.title") %}

{% set backLinkHref = paths.VISITS.HOME %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p>{{ t("visits:past.onlyGovukBookings") }}</p>

      {% if visits | length %}
        {% for visit in visits %}
          <h2 class="govuk-heading-s" data-test="visit-date-{{ loop.index }}">
            {{- visit.startTimestamp | formatDate(dateFormats.DISPLAY_DATE_WITH_DAY, language) -}}
          </h2>
          <ul class="govuk-list">
            <li data-test="visit-start-end-time-{{ loop.index }}">
              {{- t("common:dateTime.timeRange", {
                startTime: visit.startTimestamp | formatTimeFromDateTime(language),
                endTime: visit.endTimestamp | formatTimeFromDateTime(language)
              }) -}}
            </li>
            <li>
              <a href="{{ paths.VISITS.VISIT_PAST }}/{{ visit.visitDisplayId }}" class="govuk-link--no-visited-state" data-test="visit-link-{{ loop.index }}">
                {{- t("visits:past.viewDetailsLink") }}
                <span class="govuk-visually-hidden">
                  {{ t("visits:past.viewDetailsLinkHidden", {
                    startTime: visit.startTimestamp | formatTimeFromDateTime(language),
                    date: visit.startTimestamp | formatDate(dateFormats.DISPLAY_DATE_DAY_MONTH, language)
                  }) }}
                </span>
              </a>
            </li>
          </ul>
        {% endfor %}

      {% else %}
        <p data-test="no-visits">{{ t("visits:past.noPastVisits") }}</p>
      {% endif %}
      
    </div>
  </div>

{% endblock %}
