{% set activeLink = 'visits-link' %}
{% extends "partials/layout.njk" %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Visit details" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% for message in messages %}
        {{ mojAlert(message) }}
      {% endfor %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="govuk-heading-m govuk-!-padding-top-5">Visit reference:
        <span data-test="visit-reference">{{ visit.reference }}</span>
      </h2>

      <h3 class="govuk-heading-s govuk-!-padding-top-4">Date and time</h3>
      <ul class="govuk-list">
        <li data-test="visit-date">{{ visit.startTimestamp | formatDate(dateFormats.PRETTY_DATE) }}</li>
        <li>
          <span data-test="visit-start-time">{{ visit.startTimestamp | formatTimeFromDateTime }}</span>
          to
          <span data-test="visit-end-time">{{ visit.endTimestamp | formatTimeFromDateTime }}</span>
        </li>
      </ul>

      <h3 class="govuk-heading-s">Prisoner</h3>
      <ul class="govuk-list">
        <li data-test="prisoner-name">{{ visit.prisonerFirstName | capitalize }} {{ visit.prisonerLastName | capitalize }}</li>
      </ul>

      <h3 class="govuk-heading-s">Visitors</h3>
      <ul class="govuk-list">
        {% for visitor in visit.visitors %}
          <li data-test="visitor-name-{{ loop.index }}">
            {{ visitor.firstName }} {{ visitor.lastName }}
          </li>
        {% endfor %}
      </ul>

      <h3 class="govuk-heading-s">Additional support requests</h3>
      <ul class="govuk-list">
        <li data-test="additional-support">{{ visit.visitorSupport.description | d("None", true) }}</li>
      </ul>

      <h3 class="govuk-heading-s">Main contact</h3>
      <ul class="govuk-list">
        <li data-test="main-contact-name">{{ visit.visitContact.name }}</li>
        {% if visit.visitContact.email %}
          <li data-test="main-contact-email">{{ visit.visitContact.email }}</li>
        {% endif %}
        {% if visit.visitContact.telephone %}
          <li data-test="main-contact-number">{{ visit.visitContact.telephone }}</li>
        {% endif %}
        {% if not visit.visitContact.email and not visit.visitContact.telephone %}
          <li data-test="main-contact-no-details">No contact details provided</li>
        {% endif %}
      </ul>

      {% if showCancelButton %}
        {{ govukButton({
          text: "Cancel visit",
          classes: "govuk-button--secondary",
          href: paths.VISITS.CANCEL_VISIT + '/' + visit.visitDisplayId,
          attributes: { "data-test": "cancel-visit" },
          preventDoubleClick: true
        }) }}
      {% endif %}

      {% if type === 'future' %}
        {% if isRequest %}
          {% include "partials/howToUpdateRequest.njk" %}
        {% else %}
          {% include "partials/howToChangeVisit.njk" %}
          {% include "partials/visitingInfo.njk" %}
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
