---
# Per environment values which override defaults in hmpps-book-a-prison-visit-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: prison-visits.service.justice.gov.uk

  env:
    INGRESS_URL: "https://prison-visits.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    GOVUK_ONE_LOGIN_URL: "https://oidc.account.gov.uk"
    GOVUK_ONE_LOGIN_HOME_URL: "https://home.account.gov.uk"
    ORCHESTRATION_API_URL: "https://hmpps-manage-prison-visits-orchestration.prison.service.justice.gov.uk"
    PRISON_REGISTER_API_URL: "https://prison-register.hmpps.service.justice.gov.uk"
    PVB_URL: "https://www.prisonvisits.service.gov.uk/en/request"
    ROOT_PATH_REDIRECT: "https://www.gov.uk/prison-visits"
    ENVIRONMENT_NAME: prod

    FEATURE_ADD_VISITOR: "true"

generic-prometheus-alerts:
  alertSeverity: visits-alerts
