---
# Per environment values which override defaults in hmpps-book-a-prison-visit-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: visit-dev.prison.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

  env:
    INGRESS_URL: "https://visit-dev.prison.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    GOVUK_ONE_LOGIN_URL: "https://oidc.integration.account.gov.uk"
    GOVUK_ONE_LOGIN_HOME_URL: "https://home.integration.account.gov.uk"
    GOVUK_ONE_LOGIN_VTR: "LOW"
    ORCHESTRATION_API_URL: "https://hmpps-manage-prison-visits-orchestration-dev.prison.service.justice.gov.uk"
    PRISON_REGISTER_API_URL: "https://prison-register-dev.hmpps.service.justice.gov.uk"
    PVB_URL: "https://dev.prisonvisits.prison.service.justice.gov.uk/en/request"
    ENVIRONMENT_NAME: dev
    MATOMO_CONTAINER_ID: "nhSwmVvM_dev_e88b9efea8226bb694a3ac74"
    MATOMO_SITE_ID: "3"
    MATOMO_ENABLED: "true"
    MATOMO_URL: "https://matomo-dev.hmpps.service.justice.gov.uk"

    FEATURE_ADD_VISITOR: "true"

  allowlist:
    groups:
      - digital_staff_and_mojo
      - moj_cloud_platform

generic-prometheus-alerts:
  alertSeverity: visits-alerts-nonprod
  businessHoursOnly: true
