---
# Per environment values which override defaults in hmpps-book-a-prison-visit-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: hmpps-book-a-prison-visit-ui.hmpps.service.justice.gov.uk
    contextColour: green
    v1_2_enabled: true
    v0_47_enabled: false

  env:
    INGRESS_URL: "https://visit.prison.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"

generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev

