{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = t("visits:cancel.title") %}

{% set backLinkHref = paths.VISITORS %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ t("visitors:visitors.cancelLinking.confirmationHeading") }}</h1>

      <h2 class="govuk-heading-m"> {{ t("visitors:visitors.visitor") }} </h2>
      <p data-test="visitor-name"> {{ visitorRequest.firstName | capitalize }} {{ visitorRequest.lastName | capitalize }} </p>

      <h2 class="govuk-heading-m"> {{ t("common:labels.dateOfBirth") }} </h2>
      <p data-test="visitor-date-of-birth"> {{ visitorRequest.dateOfBirth | formatDate(dateFormats.DISPLAY_DATE, language) }} </p>

      <form class="govuk-!-margin-top-7 disable-button-on-submit" action="{{ paths.CANCEL_VISITOR_REQUEST.CANCEL }}/{{ visitorRequestDisplayId }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          name: "cancelVisitorRequest",
          items: [
            {
              value: "yes",
              text: t("visitors:visitors.cancelLinking.yesCancelOption"),
              attributes: {
                'data-test': 'cancel-visitor-request-yes'
              }
            },
            {
              value: "no",
              text: t("visitors:visitors.cancelLinking.noCancelOption"),
              attributes: {
                'data-test': 'cancel-visitor-request-no'
              }
            }
          ],
          errorMessage: errors | findError('cancelVisitorRequest')
        }) }}

        {{ govukButton({
          text: t("visits:cancel.confirmButton"),
          attributes: {
            "data-test": "confirm-button"
          },
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/assets/disableButtonOnSubmit.js"></script>
{% endblock %}
