{% extends "partials/layout.njk" %}

{% set pageTitle = message %}

{% block content %}

  <h1 class="govuk-heading-l">{{ message }}</h1>

  {% if production %}
    <p>{{ t("errors:error.logged") }}</p>
    <p class="no-visited-state">
      {{- t("errors:error.tryReload", { url: paths.VISITS.HOME }) | safe -}}
    </p>
    <p>
      <a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales">
        {{ t("errors:error.contactPrisonLink") }}</a>.
    </p>
  {% else %}
    <h2 class="govuk-heading-m">{{ status }}</h2>
    <pre>{{ stack }}</pre>
  {% endif %}

{% endblock %}
