{% extends "partials/layout.njk" %}

{% set pageTitle = message %}

{% block content %}

  <h1 class="govuk-heading-l">{{ message }}</h1>

  {% if production %}
    <p>The error has been logged.</p>
    <p>You can try reloading the page or
      <a href="{{ paths.HOME }}" class="govuk-link--no-visited-state">start again</a>.
    </p>
    <p>
      <a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales">
        Or you can contact the prison directly</a>.
    </p>
  {% else %}
    <h2 class="govuk-heading-m">{{ status }}</h2>
    <pre>{{ stack }}</pre>
  {% endif %}

{% endblock %}
