{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set activeLink = 'home-link' %}
{% set pageTitle = "Book a visit" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if prisoner %}
        <p>Prisoner: <span data-test="prisoner-name">{{ prisoner | prisonerNameFirstLast }}</span></p>

        <form action="{{ paths.BOOK_VISIT.SELECT_PRISONER }}" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          <input type="hidden" name="prisonerDisplayId" value="{{ prisoner.prisonerDisplayId }}">

          {{ govukButton({
            text: "Start",
            classes: "govuk-!-margin-top-3",
            isStartButton: true,
            preventDoubleClick: true,
            attributes: { "data-test": "start-booking" }
          }) }}
        </form>

      {% else %}

        <p data-test="no-prisoner">You need to add a prisoner to book a visit.</p>

        {{ govukButton({
          text: "Add a prisoner",
          href: paths.ADD_PRISONER.LOCATION,
          classes: "govuk-!-margin-top-3",
          preventDoubleClick: true,
          attributes: { "data-test": "add-prisoner" }
        }) }}

      {% endif %}
    </div>
  </div>

{% endblock %}
