{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Book a visit" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Book a visit</h1>

      {% if prisoners | length %}
        <p>Prisoner: <span data-test="prisoner-name">{{ prisoners[0].firstName | capitalize }} {{prisoners[0].lastName | capitalize }}</span></p>

        <form action="/book-a-visit/select-prisoner" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          <input type="hidden" name="displayId" value="{{ prisoners[0].displayId }}">

          {{ govukButton({
            text: "Start",
            classes: "govuk-!-margin-top-3",
            isStartButton: true,
            preventDoubleClick: true,
            attributes: { "data-test": "start-booking" }
          }) }}
        </form>

      {% else %}
        <p data-test="no-prisoners">No prisoner details found.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
