{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <h1 class="govuk-heading-l">Book a visit</h1>

  <p>Prisoner: <span data-test="prisoner-name">Adam Greene</span></p>

  {{ govukButton({
    text: "Start ",
    href: "#",
    isStartButton: true
  }) }}

{% endblock %}
