{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <h1 class="govuk-heading-l">Book a visit</h1>
{# TODO render as form and use prisoner[0] - also handle prisoner array being empty and don't show button #}
  <p>Prisoner: <span data-test="prisoner-name">{{ prisoners[0].firstName | capitalize }} {{prisoners[0].lastName | capitalize }}</span></p>

  {{ govukButton({
    text: "Start ",
    classes: "govuk-!-margin-top-3",
    href: "#",
    isStartButton: true
  }) }}

{% endblock %}
