{% extends "partials/layout.njk" %}

{% set pageTitle = t("staticPages:maintenance.title") %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p data-test="maintenance-message">{{ maintenanceMessage }}</p>

      <p>
        {{- t("staticPages:maintenance.notSaved", { url: paths.GOVUK_START_PAGE }) | safe -}}
      </p>

      <p>
        <a href="https://www.gov.uk/government/collections/prisons-in-england-and-wales">
          {{- t("staticPages:maintenance.contactPrisonLink") -}}
        </a>.
      </p>

    </div>
  </div>
{% endblock %}
