{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Prisons" %}

{% block content %}

  <h1 class="govuk-heading-l">Test API call</h1>
  <p>Requesting list of supported prison IDs from the Orchestration Service</p>

  <hr>

  <pre>
{{ (prisonIds | dump(2)) if prisonIds else "NONE" }}
  </pre>

  <hr>

{% endblock %}
